<ul class="feed-action border bottom d-flex">
    <li class="text-center flex-grow-1">
        <button class="btn btn-default no-border pdd-vertical-0 no-mrg width-100">
            <i class="fa fa-thumbs-o-up font-size-16"></i>
            <span class="font-size-13">좋아요</span>
        </button>
    </li>
    <li class="text-center flex-grow-1">
        <button class="btn btn-default no-border pdd-vertical-0 no-mrg width-100">
            <i class="fa fa-comment-o font-size-16"></i>
            <span  class="font-size-13">댓글</span>
        </button>
    </li>
    <li class="text-center flex-grow-1">
        <button class="btn btn-default no-border pdd-vertical-0 no-mrg width-100">
            <i class="fa fa-share font-size-16"></i>
            <span class="font-size-13">공유하기</span>
        </button>
    </li>
</ul>