<script crossorigin="anonymous"
        defer integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"
        integrity="sha256-EPrkNjGEmCWyazb3A/Epj+W7Qm2pB9vnfXw+X6LImPM=" crossorigin="anonymous" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"
        integrity="sha256-fTuUgtT7O2rqoImwjrhDgbXTKUwyxxujIMRIK7TbuNU=" crossorigin="anonymous" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        integrity="sha256-fzFFyH01cBVPYzl16KT40wqjhgPtq6FFUB6ckN2+GGw=" crossorigin="anonymous" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.8.16/dayjs.min.js"
        integrity="sha256-4ZAJq9kaOQU0baQImJ8cE4swV+cAOrx/NL11yOL+VvY=" crossorigin="anonymous" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.8.16/locale/ko.js"
        integrity="sha256-oZqabx7mLAMIdi+YzMcpis+ypVFvYjwo8Ij70M+o1eA=" crossorigin="anonymous" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.8.16/plugin/relativeTime.js"
        integrity="sha256-fyF+Tdz+En6oGAS5u/Hs9OpUEJ41VZ1/L78QDMaPfSE=" crossorigin="anonymous" defer></script>

<script src="/js/fetch-api.js" defer></script>
<script src="/js/logout.js" defer></script>
<script src="/js/friend-list.js" defer></script>
<script src="/js/time-update.js" defer></script>
<script src="/js/post-notification.js" defer></script>
