<head th:fragment="mainHead" xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8">
    <title>wootecobook</title>
    <meta content="index, follow" name="robots">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no"
          name="viewport">
    <meta content="우아한테크코스, 프로그래밍, 개발자, 백엔드, 프론트엔드, Backend, Frontend, IOS, Android" name="keyword">
    <meta content="우테코북" id="metaDesc" name="description">

    <meta content="website" property="og:type">
    <meta content="우아한테크코스" property="og:title">
    <meta content="우테코북" id="metaOgDesc" property="og:description">
    <meta content="https://raw.githubusercontent.com/woowacourse/miniprojects/master/wootecobook/images/logo/logo-thumnail-bg.jpg"
          property="og:image">
    <meta content="https://woowacourse.github.io/" property="og:url">

    <meta content="website" name="twitter:card">
    <meta content="우아한테크코스" name="twitter:title">
    <meta content="우테코북" id="metaTwitterDesc" name="twitter:description">
    <meta content="https://raw.githubusercontent.com/woowacourse/miniprojects/master/wootecobook/images/logo/logo-thumnail-bg.jpg"
          name="twitter:image">
    <meta content="https://woowacourse.github.io/" name="twitter:domain">

    <link href="https://raw.githubusercontent.com/woowacourse/miniprojects/master/wootecobook/images/logo/favicon.ico"
          rel="shortcut icon">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css"
          integrity="sha256-8g4waLJVanZaKB04tvyhKu2CZges6pA5SUelZAux/1U=" rel="stylesheet">
    <link crossorigin="anonymous"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" rel="stylesheet"/>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css"
          integrity="sha256-PHcOkPmOshsMBC+vtJdVr5Mwb7r0LkSVJPlPrp/IMpU=" rel="stylesheet"/>
    <link crossorigin="anonymous"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Amiri:400,400i|Source+Sans+Pro:400,400i,600,700|Raleway:100,200,300,400,500,600,700,800&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/index.css">
</head>