<header id="header" class="header navbar" th:fragment="headline">
    <div class="header-container max-width-lg mx-auto">
        <ul class="nav-left mrg-left-0">
            <li>
                <a href="index.html">
                    <div class="logo" style="background-image: url('images/default/icons.png')"></div>
                </a>
            </li>
            <li class="search-container">
                <span class="search">
                    <form action="" method="get">
                        <input type="text" class="searchbox" placeholder="검색">
                        <button type="submit" class="search-btn">
                            <i class="ti-search"></i>
                        </button>
                    </form>
                </span>
            </li>
        </ul>
        <ul class="nav-right">
            <li class="user-profile">
                <a>
                    <img class="profile-img img-fluid" src="images/default/eastjun_profile.jpg" alt="">
                    <div class="user-info mrg-left-5">
                        <span class="name pdd-right-5 text-white text-bold">eastjun</span>
                    </div>
                </a>
            </li>
            <li class="">
                <a class="pointer">
                    <span class="text-white text-bold font-size-12">홈</span>
                </a>
            </li>
            <li>
                <a class="pointer">
                    <span class="text-white text-bold font-size-12">만들기</span>
                </a>
            </li>
            <li>
                <div class="friend-btn pointer mrg-vertical-10 mrg-horizon-5"></div>
            </li>
            <li>
                <div class="message-btn pointer mrg-vertical-10 mrg-horizon-5"></div>
            </li>
            <li>
                <div class="notification-btn pointer mrg-vertical-10 mrg-horizon-5"></div>
            </li>

        </ul>
    </div>
</header>