<head th:fragment="mainHead">
    <meta charset="utf-8">
    <title>wootecobook</title>
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <meta name="keyword" content="우아한테크코스, 프로그래밍, 개발자, 백엔드, 프론트엔드, Backend, Frontend, IOS, Android">
    <meta name="description" id="metaDesc" content="우테코북">

    <meta property="og:type" content="website">
    <meta property="og:title" content="우아한테크코스">
    <meta property="og:description" id="metaOgDesc" content="우테코북">
    <meta property="og:image" content="https://raw.githubusercontent.com/woowacourse/miniprojects/master/wootecobook/images/logo/logo-thumnail-bg.jpg">
    <meta property="og:url" content="https://woowacourse.github.io/">

    <meta name="twitter:card" content="website">
    <meta name="twitter:title" content="우아한테크코스">
    <meta name="twitter:description" id="metaTwitterDesc" content="우테코북">
    <meta name="twitter:image" content="https://raw.githubusercontent.com/woowacourse/miniprojects/master/wootecobook/images/logo/logo-thumnail-bg.jpg">
    <meta name="twitter:domain" content="https://woowacourse.github.io/">

    <link rel="shortcut icon" href="https://raw.githubusercontent.com/woowacourse/miniprojects/master/wootecobook/images/logo/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css"
          integrity="sha256-8g4waLJVanZaKB04tvyhKu2CZges6pA5SUelZAux/1U=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css"
          integrity="sha256-PHcOkPmOshsMBC+vtJdVr5Mwb7r0LkSVJPlPrp/IMpU=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Amiri:400,400i|Source+Sans+Pro:400,400i,600,700|Raleway:100,200,300,400,500,600,700,800&display=swap">

    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/index.css">
</head>