<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pdd-right-0">
    <div class="card">
        <h5 class="card-title mrg-top-15 mrg-btm-0 mrg-horizon-15">스토리</h5>
        <div class="card-body">
            <ul class="list-unstyled list-info">
                <li class="story-user-list mrg-btm-10">
                    <img class="thumb-img img-circle img-circle-blue border" src="images/default/plus_btn.png" alt="">
                    <div class="info mrg-left-5">
                        <a href="" class="title no-pdd-vertical text-semibold inline-block text-bold text-link-color">스토리에 추가</a>
                        <span class="sub-title">사진, 동영상을 공유하거나 글을 남겨보세요</span>
                    </div>
                </li>
                <li class="story-user-list mrg-btm-10">
                    <img class="thumb-img img-circle img-circle-blue" src="https://avatars2.githubusercontent.com/u/46308585?s=460&v=4" alt="">
                    <div class="info mrg-left-5 pdd-top-5">
                        <a href="" class="title no-pdd-vertical text-semibold inline-block text-bold">CU</a>
                        <span class="sub-title">18시간전</span>
                    </div>
                </li>
                <li class="story-user-list mrg-btm-10">
                    <img class="thumb-img img-circle img-circle-blue" src="images/default/eastjun_profile.jpg" alt="">
                    <div class="info mrg-left-5 pdd-top-5">
                        <a href="" class="title no-pdd-vertical text-semibold inline-block text-bold">Eastjun</a>
                        <span class="sub-title">18시간전</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="border top">
            <div class="pdd-vertical-15 pdd-horizon-20 text-center">
                <a href="" class="text-semibold text-dark">More...</a>
            </div>
        </div>
    </div>
</div>