<li>
    <form accept-charset="UTF-8" action="/login" class="form-horizontal pdd-right-30 align-items-center" id="login-form"
          method="post">
        <div class="form-group row" style="display: inline-block;">
            <label class="row-md-3 control-label text-right" for="login-email">이메일</label>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 pdd-left-0">
                <input autofocus class="form-control height-30px" id="login-email" name="email" placeholder="email" required type="email">
            </div>
        </div>
        <div class="form-group row" style="display: inline-block;">
            <label class="row-md-3 control-label text-right" for="login-password">패스워드</label>
            <div class="col-md-9 pdd-left-0">
                <input autofocus class="form-control height-30px" id="login-password" name="password" placeholder="password" required
                       type="password">
            </div>
        </div>
        <div class="form-group text-right" style="display: inline-block;">
            <button class="btn btn-tecobook btn-inverse btn-lg btn-rounded" type="submit">로그인</button>
        </div>
    </form>
</li>
