<div class="col-lg-7 col-md-7 col-sm-7 mrg-top-120">
    <h1 class="border bottom width-100 pdd-btm-5 text-bold text-center">새 계정 만들기</h1>
    <form class="form-horizontal pdd-right-30 align-items-center" accept-charset="UTF-8" action="/users" id="signup"
          method="post">
        <div class="form-group row">
            <label for="name" class="col-md-3 control-label text-right">이름</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="name" placeholder="Name" autofocus required minlength="2"
                       maxlength="10" name="name">
            </div>
        </div>
        <div class="form-group row">
            <label for="signup-email" class="col-md-3 control-label text-right">이메일</label>
            <div class="col-md-9">
                <input type="email" class="form-control" id="signup-email" placeholder="Email" autofocus required name="email">
            </div>
        </div>
        <div class="form-group row">
            <label for="signup-password" class="col-md-3 control-label text-right">패스워드</label>
            <div class="col-md-9">
                <input type="password" class="form-control" id="signup-password" placeholder="Password" autofocus required
                       minlength="8" maxlength="30" name="password" title="비밀번호는 최소 8글자 이상 30글자 이하여야 합니다.">
            </div>
        </div>
        <div class="form-group row">
            <label for="signup-password" class="col-md-3 control-label text-right">패스워드 확인</label>
            <div class="col-md-9">
                <input type="password" class="form-control" id="signup-password-confirm" placeholder="Confirm Password"
                       autofocus required minlength="8" maxlength="30" title="비밀번호를 정확하게 입력해주시기 바랍니다.">
            </div>
        </div>
        <div class="form-group text-right">
            <button type="submit" class="btn btn-tecobook btn-lg btn-rounded ">가입하기</button>
        </div>
    </form>
</div>
