<div class="col-lg-7 col-md-7 col-sm-7 mrg-top-120">
    <h1 class="border bottom width-100 pdd-btm-5 text-bold text-center">새 계정 만들기</h1>
    <form accept-charset="UTF-8" action="/users" class="form-horizontal pdd-right-30 align-items-center"
          enctype="multipart/form-data"
          id="signup" method="post">
        <div class="form-group row">
            <label class="col-md-3 control-label text-right" for="name">이름</label>
            <div class="col-md-9">
                <input autofocus class="form-control" id="name" maxlength="10" minlength="2" name="name"
                       placeholder="Name"
                       required type="text">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 control-label text-right" for="signup-email">이메일</label>
            <div class="col-md-9">
                <input autofocus class="form-control" id="signup-email" name="email" placeholder="Email" required
                       type="email">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 control-label text-right" for="signup-password">패스워드</label>
            <div class="col-md-9">
                <input autofocus class="form-control" id="signup-password" maxlength="30" minlength="8"
                       name="password"
                       placeholder="Password" required title="비밀번호는 최소 8글자 이상 30글자 이하여야 합니다." type="password">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 control-label text-right" for="signup-password">패스워드 확인</label>
            <div class="col-md-9">
                <input autofocus class="form-control" id="signup-password-confirm" maxlength="30"
                       minlength="8" placeholder="Confirm Password" required title="비밀번호를 정확하게 입력해주시기 바랍니다."
                       type="password">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 control-label text-right" for="user-profile">프로필 이미지</label>
            <div class="col-md-9">
                <input class="form-control" id="user-profile" name="profile" type="file">
            </div>
        </div>
        <div class="form-group text-right">
            <button class="btn btn-tecobook btn-lg btn-rounded " type="submit">가입하기</button>
        </div>
    </form>
</div>
