<div class="feed-footer">
    <div class="comment">
        <ul class="list-unstyled list-info">
            <li class="comment-item">
                <img class="thumb-img img-circle" src="images/default/eastjun_profile.jpg" alt="">
                <div class="info">
                    <div class="bg-lightgray border-radius-18 padding-10 max-width-100">
                        <a href="" class="title text-bold inline-block text-link-color">eastjun</a>
                        <span>크 멋져요. MVC패턴을 직접 프로젝트에 적용해봤나요?</span>
                    </div>
                    <div class="font-size-12 pdd-left-10 pdd-top-5">
                        <span class="pointer text-link-color">좋아요</span>
                        <span>·</span>
                        <span class="pointer text-link-color">답글 달기</span>
                        <span>·</span>
                        <span class="pointer">2시간</span>
                    </div>
                </div>
            </li>
        </ul>
        <div class="add-comment">
            <textarea rows="1" class="form-control" placeholder="댓글을 입력하세요.."></textarea>
        </div>
    </div>
</div>