<div class="feed-body no-pdd">
    <p>
        <span th:text="${post.contents}"> 해리와 션의 MVC 패턴 </span> <br>
    </p>
    <div class="feed-body feed-image" th:each="img : ${post.mediaFiles}">
        <img alt="메롱" th:src="${img.url}">
    </div>
</div>

<th:block th:if="${post.sharedPost}" xmlns:th="http://www.thymeleaf.org">
    <div class="feed-header border top">
        <ul class="list-unstyled list-info">
            <li>
                <img alt="" class="thumb-img img-circle" th:src="${post.author.profile.url}">
                <div class="info">
                    <a class="title no-pdd-vertical text-semibold inline-block" href=""
                       th:text="${post.sharedPost.author.name}">eastjun</a>
                    <span class="sub-title">15시간</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="feed-body no-pdd">
        <p>
            <span th:text="${post.sharedPost.contents}"> 해리와 션의 MVC 패턴 </span> <br>
        </p>
        <div class="feed-body feed-image" th:each="img : ${post.sharedPost.mediaFiles}">
            <img alt="메롱" th:src="${img.url}">
        </div>
    </div>
</th:block>
