<div class="feed-header">
    <ul class="list-unstyled list-info">
        <li>
            <img class="thumb-img img-circle" src="images/default/eastjun_profile.jpg" alt="">
            <div class="info">
                <a href="" class="title no-pdd-vertical text-semibold inline-block">eastjun</a>
                <span>님이 그룹에 링크를 공유했습니다.</span>
                <span class="sub-title">15시간</span>
                <a class="pointer absolute top-0 right-0" data-toggle="dropdown" aria-expanded="false">
                                        <span class="btn-icon text-dark">
                                            <i class="ti-more font-size-16"></i>
                                        </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="pointer">
                            <i class="ti-trash pdd-right-10 text-dark"></i>
                            <span class="">게시글 삭제</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>