<li class="user-profile">
    <a th:href="@{'/posts?author=' + ${session.loggedInUser.id}}" th:if="${session.loggedInUser}">
        <img alt="" class="profile-img img-fluid" th:src="${session.loggedInUser.profile}">
        <div class="user-info mrg-left-5">
            <span class="name pdd-right-5 text-white text-bold" th:text="${session.loggedInUser.name}">eastjun</span>
        </div>
    </a>
</li>
<li>
    <a class="pointer">
        <span class="text-white text-bold font-size-12">홈</span>
    </a>
</li>
<li class="" th:if="${session.loggedInUser}">
    <a class="pointer" th:href="@{'/users/' + ${session.loggedInUser.id} + '/edit'}">
        <span class="text-white text-bold font-size-12">정보 수정</span>
    </a>
</li>
<li th:if="${session.loggedInUser}">
    <a class="pointer" id="logout-anchor">
        <span class="text-white text-bold font-size-12">로그아웃</span>
    </a>
</li>
