<li class="user-profile">
    <a th:if="${session.loggedInUser}">
        <img class="profile-img img-fluid" src="https://raw.githubusercontent.com/woowacourse/miniprojects/master/wootecobook/images/default/eastjun_profile.jpg" alt="">
        <div class="user-info mrg-left-5">
            <span th:text="${session.loggedInUser.name}" class="name pdd-right-5 text-white text-bold">eastjun</span>
        </div>
    </a>
    <a th:unless="${session.loggedInUser}" class="pointer" th:href="@{/login}">
        <span class="text-white text-bold font-size-12">로그인</span>
    </a>
</li>
<li>
    <a class="pointer">
        <span class="text-white text-bold font-size-12">홈</span>
    </a>
</li>
<li class="" th:if="${session.loggedInUser}">
    <a class="pointer" th:href="@{'/users/' + ${session.loggedInUser.id} + '/edit'}">
        <span class="text-white text-bold font-size-12">정보 수정</span>
    </a>
</li>
<li th:if="${session.loggedInUser}">
    <a class="pointer" th:href="@{/logout}">
        <span class="text-white text-bold font-size-12">로그아웃</span>
    </a>
</li>
<li th:unless="${session.loggedInUser}">
    <a class="pointer" th:href="@{/signup}">
        <span class="text-white text-bold font-size-12">회원 가입</span>
    </a>
</li>