<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Turkeybook</title>
    <th:block th:include="fragments/head"/>
</head>
<body>
<div id="wootecobook-app">
    <th:block th:include="fragments/nav"/>
    <div id="main-content" class="container-fluid max-width-lg mx-auto mrg-top-70">
        <div class="row">
            <th:block th:include="fragments/left-panel"/>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <th:block th:include="fragments/write-post"/>
                <div class="card widget-feed padding-15">
                    <th:block layout:fragment="content"/>
                </div>
            </div>
            <th:block layout:fragment="right-panel"/>
        </div>
    </div>
</div>
<th:block th:include="fragments/script"/>
</body>
</html>