<div aria-hidden="true" aria-labelledby="게시물 등록" class="modal fade" id="feed-add-modal" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="border bottom width-100 pdd-btm-5 text-bold">게시물 수정</p>

            </div>
            <div class="modal-body">
                <form action="/posts-with-images" enctype="multipart/form-data" id="feed-add-form" method="POST">
                    <input class="resize-none form-control border bottom resize-none" name="contents" type="textarea">
                    <input id="feed-image" name="feed-image" style="display:none" type="file">
                </form>
                <img id="feed-image-preview" src="#" style="visibility:hidden; max-width: 460px">
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" id="feed-add-image-btn" type="button">images</button>
                <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" id="feed-submit-btn" type="button">Save changes</button>
            </div>
        </div>
    </div>
</div>