<ul class="dropdown-menu post-display-dropdown">
    <li>
        <a class="pointer dropdown-item">
            <i class="ti-world pdd-right-10 text-dark"></i>
            <span class="">전체 공개</span>
            <span class="ti-check"></span>
        </a>
    </li>
    <li>
        <a class="pointer">
            <i class="ti-user pdd-right-10 text-dark"></i>
            <span class="">친구만</span>
            <span class=""></span>
        </a>
    </li>
    <li>
        <a class="pointer">
            <i class="ti-lock pdd-right-10 text-dark"></i>
            <span class="">나만 보기</span>
            <span class=""></span>
        </a>
    </li>
</ul>