<header id="header" class="header navbar" th:fragment="headline" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="header-container max-width-lg mx-auto">
        <ul class="nav-left mrg-left-0">
            <li>
                <a href="/" class="mrg-right-70">
                    <img src="/images/logo/wootecobook.png" height="50px">
                </a>
            </li>
        </ul>
        <ul class="nav-right">
            <th:block th:replace="element/headline-user"></th:block>
            <li>
                <div class="friend-btn pointer mrg-vertical-10 mrg-horizon-5"></div>
            </li>
            <li>
                <div class="message-btn pointer mrg-vertical-10 mrg-horizon-5"></div>
            </li>
            <li>
                <div class="notification-btn pointer mrg-vertical-10 mrg-horizon-5"></div>
            </li>
        </ul>
    </div>
</header>
