<header class="header navbar" id="header">
    <div class="header-container max-width-lg mx-auto">
        <ul class="nav-left mrg-left-0">
            <li>
                <a class="mrg-right-70" href="/">
                    <img height="50px" src="/images/logo/wootecobook.png">
                </a>
            </li>
        </ul>
        <ul class="nav-right">
            <th:block th:replace="element/headline-user"></th:block>
            <li>
                <th:block th:replace="layout/friend-list-btn"></th:block>
            </li>
            <li>
                <!--<div class="message-btn pointer mrg-vertical-10 mrg-horizon-5"></div>-->
                <th:block th:replace="layout/post-notification-btn"></th:block>
            </li>
            <li>
                <th:block th:replace="layout/friend-request-btn"></th:block>
            </li>
        </ul>
    </div>
</header>