<div id="left-profile-container" class="col-lg-2 col-md-2 col-sm-2 col-xs-2" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="left">

        <div class="left-menus">
            <ul class="left-sub-menus">
                <li class="left-sub-sub-menus mrg-btm-5 pointer">
                    <div class="icons newspeed"></div>
                    <span class="icon-name">  뉴스피드</span>
                </li>
                <li class="left-sub-sub-menus mrg-btm-5 pointer">
                    <div class="icons message"></div>
                    <span class="icon-name">  Messenger</span>
                </li>
                <li class="left-sub-sub-menus mrg-btm-5 pointer">
                    <div class="icons watch"></div>
                    <span class="icon-name">  Watch</span>
                </li>
            </ul>
            <ul class="left-sub-menus">
                <div class="left-group-title">바로가기</div>
                <li class="left-sub-sub-menus pointer">
                    <div class="icons group"></div>
                    <span class="icon-name">  우테코 1기</span>
                </li>
            </ul>
        </div>
    </div>
</div>