<div id="login-area">
    <div class="card widget-compose">
        <p class="border bottom width-100 pdd-btm-5 text-bold">로그인</p>
        <form accept-charset="UTF-8" action="/login" class="form-horizontal pdd-right-30 align-items-center" id="login-form" method="post">
            <div class="form-group row">
                <label class="col-md-3 control-label text-right" for="email">이메일</label>
                <div class="col-md-9">
                    <input autofocus class="form-control" id="email" name="email" placeholder="email" required type="email">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 control-label text-right" for="password">패스워드</label>
                <div class="col-md-9">
                    <input autofocus class="form-control" id="password" name="password" placeholder="password" required type="password">
                </div>
            </div>
            <div class="form-group text-right">
                <button class="btn btn-success btn-lg btn-rounded" type="submit">로그인</button>
            </div>
        </form>
    </div>
</div>