<div class="post-edit-area">
    <div class="card widget-compose">
        <p class="border bottom width-100 pdd-btm-5 text-bold">게시물 수정</p>
        <textarea class="resize-none form-control border bottom resize-none" th:data-postid="${post.id}" id="post-modify-content" th:text="${post.contents}"></textarea>
        <div class="text-center">
            <button id="post-edit-btn" class="btn btn-facebook btn-lg btn-rounded" type="button">저장
            </button>
            <a class="btn btn-facebook btn-lg btn-rounded " href="/">취소</a>
        </div>
    </div>
</div>