<div class="social-feeds">
    <div class="card widget-compose">
        <p class="border bottom width-100 pdd-btm-5 text-bold">게시물 만들기</p>
        <textarea class="resize-none form-control border bottom resize-none" id="post-content" placeholder="oo님, 무슨 생각을 하고 계신가요?"></textarea>
        <ul class="composor-tools pdd-top-15">
            <li class="bg-lightgray border-radius-round mrg-right-5">
                <a class="pdd-vertical-5 pdd-horizon-10 pointer">
                    <div class="icons photo-video"></div>
                    <span class="icon-name font-size-13 text-bold"> 사진/동영상</span>
                </a>
            </li>
            <li class="bg-lightgray border-radius-round mrg-right-5">
                <a class="pdd-vertical-5 pdd-horizon-10 pointer">
                    <div class="icons tag-friend"></div>
                    <span class="icon-name font-size-13 text-bold"> 친구 태그하기</span>
                </a>
            </li>
            <li class="bg-lightgray border-radius-round mrg-right-5">
                <a class="pdd-vertical-5 pdd-horizon-10 pointer">
                    <div class="icons feeling-activity"></div>
                    <span class="icon-name font-size-13 text-bold"> 기분/활동</span>
                </a>
            </li>
            <li class="btn-facebook border-radius-round mrg-right-5">
                <a id="feed-add-btn" class="pdd-vertical-5 pdd-horizon-10 pointer">
                    <span class="icon-name text-white font-size-13 text-bold"> 게시하기</span>
                </a>
            </li>
        </ul>
    </div>
</div>