<div class="user-edit-area">
    <div class="card widget-compose">
        <p class="border bottom width-100 pdd-btm-5 text-bold">개인정보 수정</p>
        <form class="form-horizontal pdd-right-30 align-items-center" accept-charset="UTF-8" th:action="@{'/users/' + ${session.loggedInUser.id}}" method="post">
            <input name="_method" value="PUT" type="hidden">
            <div class="form-group row">
                <label for="name" class="col-md-3 control-label text-right">이름</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="name" th:value="${user.name}" name="name">
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-md-3 control-label text-right">이메일</label>
                <div class="col-md-9">
                    <input type="email" class="form-control" id="email" th:value="${user.email}" name="email">
                </div>
            </div>
            <div class="form-group text-right">
                <button type="submit" class="btn btn-success btn-lg btn-rounded ">수정</button>
                <button id="user-delete-btn" class="btn btn-danger btn-lg btn-rounded">탈퇴</button>
            </div>
        </form>
    </div>
</div>