@media only screen and (max-width:767px){
    .main-banner-cover {
        display: none;
    }
}

header ul.nav-right li, header ul.nav-left li {
    height: 56px;
}

.header {
    background-color: white;
    padding: 0 16px;
    height: 56px;
    top: 0px;
}

.logo {
    width: 120px;
    height: auto;
    line-height: 56px;
    position: relative;
}

.search{
    width: 400px;
    height: 25px;
    max-width: 400px;
    position: absolute;
    top: 4px;
    left: 50px;
    margin: 5px 200px 5px 5px;
    padding: 2px 2px 2px 4px;
    border-radius: 3px;
    background: white;
}
.searchbox{
    width: 378px;
    height: 18px;
    position: absolute;
    top: 3px;
    left: 7px;
    border: 0 none white;
    margin: 0;
    padding: 0;
    font-size: 10pt;
    outline-style: none;
}
.search-btn {
    width: 27px;
    height: 17px;
    position: absolute;
    top: 4px;
    left: 370px;
    background: none;
    background-image: url('images/default/icons.png');
    background-position: -26px -202px;
    border-style: none;
    border-left: 1px solid rgb(220, 220, 220);
}

.user-profile {
    height: 43px;
}

.profile-img {
    width: 24px;
    height: 24px;
}

.video-container {
    position: relative;
    height: 0;
    overflow: hidden;
}

.video-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main-banner-cover .cover-img {
    height: 130px;
}

.banner-owner-img {
    width: 100px;
    left: 30px;
}

.banner-info {
    width: calc(100% - 120px);
}

.max-height-400px {
    max-height: 400px;
}

.no-padding {
    padding: 0;
}

.padding-2 {
    padding: 2px;
}

.padding-7 {
    padding: 7px;
}

.padding-8 {
    padding: 8px;
}
