spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  devtools:
    livereload:
      enabled: true

  thymeleaf:
    cache: false

server:
  servlet:
    session:
      tracking-modes: cookie