
    <ul class="nav nav-tabs" role="tablist">
        <li>
            <a href="#default-tab-1" class="nav-link active show"
               role="tab" data-toggle="tab" aria-selected="true">타임라인
            </a>
        </li>
        <li>
            <a href="#default-tab-2" class="nav-link"
               role="tab" data-toggle="tab" aria-selected="false">정보
            </a>
        </li>
        <li>
            <a href="#default-tab-3" class="nav-link"
               role="tab" data-toggle="tab" aria-selected="false">친구
            </a>
        </li>
        <li>
            <a href="#default-tab-4" class="nav-link"
               role="tab" data-toggle="tab" aria-selected="false">사진
            </a>
        </li>
    </ul>
