<div class="cover-img bg"
     style="background-image:url('https://k.kakaocdn.net/dn/bcDagK/btqulDv6tGk/9EFP6EDwtKt1IyDMGYBb2k/img.png');
                height: 40%;">
    <img class="img-circle"
         id="cover-profile-img"
         th:src="${author.profile.url}">
    <span id="user-name-in-cover" th:text="${author.name}">Zzinbros</span>
    <span th:if="${!isMypage}">
        <button class="btn btn-lg btn-tecobook btn-inverse btn-rounded"
                id="add-friend-btn"
                th:data-user-id="${author.id}" th:if="${!friendStatus && !requestStatus}">
            친구 추가
        </button>
        <button class="btn btn-lg btn-tecobook btn-inverse btn-rounded"
                disabled id="friend-request-btn" th:if="${requestStatus}">
            친구 요청
        </button>
        <button class="btn btn-lg btn-tecobook btn-inverse btn-rounded" disabled
                id="friend-btn" th:if="${friendStatus}">
            <i class="ti-check">친구</i>
        </button>
    </span>

</div>