<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="commentFragment">
    <div>
        <div class="dropdown" id="comment-sort-button">
            <span>댓글 <span id="comment-count">0</span>개</span>
            <button class="comment-sort-button dropdown-toggle" data-toggle="dropdown">
                <i class="ti-align-left"></i>
                <span>정렬 기준</span>
            </button>

            <div class="dropdown-menu comment-sort-bropdown" role="menu">
                <button id="sort-comment-like" class="comment-like-sort-btn list-group-item list-group-item-action">오래된 댓글순</button>
                <button id="sort-comment-update-time" class="comment-recent-sort-btn list-group-item list-group-item-action">최신 댓글순</button>
            </div>
        </div>
        <div class="comment mrg-btm-50">
            <div class="mrg-top-5">
                <div class="reply-area">
                    <div class="mrg-btm-10" th:if="${session.user}">
                        <img alt="" class="img-circle width-50 comment-writer-img"
                             th:src="${session.user.profileImageUrl}">
                        <input class="comment-input mrg-left-10" id="comment-input-text"
                               placeholder="공개 댓글 추가..." type="text">
                    </div>
                    <div class="mrg-btm-10" th:unless="${session.user}">
                        <img alt="" class="img-circle width-50 comment-writer-img"
                             src="https://woowa-ioi.s3.ap-northeast-2.amazonaws.com/wootube/basic/default_profile.png">
                        <input class="comment-input mrg-left-10" id="comment-input-text"
                               placeholder="공개 댓글 추가..." type="text">
                    </div>
                    <div class="display-none" id="comment-button-area">
                        <button class="btn comment-btn edit comment-save-btn disabled"
                                id="comment-save-button">댓글
                        </button>
                        <button class="btn comment-btn comment-cancel-btn"
                                id="comment-cancel-button">취소
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <ul id="comment-area">
        </ul>
    </div>
</th:block>
</html>
