<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="commentFragment">
    <div>
        <div>댓글 <span id="comment-count">1,131</span>개</div>
        <div class="comment mrg-btm-50">
            <div class="mrg-top-5">
                <div class="reply-area">
                    <div class="mrg-btm-10">
                        <img class="img-circle width-50 comment-writer-img" src="/images/default/eastjun_big.jpg"
                             alt="">
                        <input id="comment-input-text" class="comment-input" type="text" placeholder="공개 댓글 추가...">
                    </div>
                    <div id="comment-button-area" class="display-none">
                        <button id="comment-save-button" class="btn comment-btn edit comment-save-btn disabled">댓글</button>
                        <button id="comment-cancel-button" class="btn comment-btn comment-cancel-btn">취소</button>
                    </div>
                </div>
            </div>
        </div>
        <ul id="comment-area">
            <li class="comment mrg-btm-30" data-commentid="1">
                <img class="img-circle width-50 comment-writer-img" src="/images/default/eastjun_big.jpg" alt="">
                <div class="comment-block">
                    <div class="font-size-13">
                        <span class="user-name">효오오오</span>
                        <span class="update-date">1년 전</span>
                    </div>
                    <div class="comment-more-box">
                        <button class="comment-more-buttons comment-edit-button">
                            <i class="ti-pencil"> 수정</i>
                        </button>
                        <button class="comment-more-buttons comment-delete-button">
                            <i class="ti-trash"> 삭제</i>
                        </button>
                    </div>
                    <span class="comment-contents font-size-15">댓글이에요.</span>
                    <div>
                        <button class="like-btn">
                            <i class="ti-thumb-up"></i>
                        </button>
                        <span>3.5천</span>
                        <button class="reply-toggle-btn">답글</button>
                    </div>
                </div>
                <div class="comment-update-area display-none mrg-btm-50">
                    <div>
                        <img class="img-circle width-50 comment-writer-img" src="/images/default/eastjun_big.jpg"
                             alt="">
                        <input class="comment-input" type="text" placeholder="공개 답글 추가...">
                    </div>
                    <button class="btn comment-btn comment-update-cancel-btn">취소</button>
                    <button class="btn comment-btn edit comment-update-btn">수정</button>
                </div>
                <div class="mrg-top-5">
                    <div class="display-none">
                        <div class="mrg-btm-10">
                            <img class="img-circle width-50 comment-writer-img" src="/images/default/eastjun_big.jpg"
                                 alt="">
                            <input class="comment-input" type="text" placeholder="공개 답글 추가...">
                        </div>
                        <button class="btn comment-btn edit comment-save-btn disabled">답글</button>
                        <button class="btn comment-btn comment-cancel-btn">취소</button>
                    </div>
                    <ul class="reply-area">
                        <li class="comment mrg-btm-30" data-reply="1">
                            <img class="img-circle width-50 comment-writer-img" src="/images/default/eastjun_big.jpg"
                                 alt="">
                            <div class="comment-block">
                                <div class="font-size-13">
                                    <span class="user-name">효오오오</span>
                                    <span class="update-date">1년 전</span>
                                </div>
                                <div class="reply-more-box comment-more-box">
                                    <button class="comment-more-buttons edit reply-edit-button">
                                        <i class="ti-pencil"> 수정</i>
                                    </button>
                                    <button class="comment-more-buttons reply-delete-button">
                                        <i class="ti-trash"> 삭제</i>
                                    </button>
                                </div>
                            </div>
                            <div class="reply-update-area mrg-btm-10 display-none">
                                <div class="mrg-btm-10">
                                    <img class="img-circle width-50 comment-writer-img"
                                         src="/images/default/eastjun_big.jpg" alt="">
                                    <input class="comment-input" type="text" placeholder="공개 답글 추가...">
                                </div>
                                <button class="btn comment-btn reply-update-cancel-btn">취소</button>
                                <button class="btn comment-btn edit reply-update-btn">수정</button>
                            </div>
                            <span class="comment-contents font-size-15">댓글이에요.</span>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</th:block>
</html>
