<header id="header" class="header navbar">
    <div class="header-container max-width-lg mx-auto">
        <ul class="nav-left mrg-left-0">
            <li>
                <a href="/">
                    <div class="logo" style="background-image: url('/images/default/icons.png')"></div>
                </a>
            </li>
            <li class="search-container">
                <span class="search">
                    <input type="text" class="searchbox" id="searchbox" placeholder="검색">
                    <button type="submit" class="search-btn">
                        <i class="ti-search"></i>
                    </button>
                </span>
                <div class="dropdown" id="search-dropdown" style="top: 35px;">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" hidden>
                    </button>
                    <div class="dropdown-menu" id="dropdown-menu" style="width: 400px; left: 10px;" aria-labelledby="dropdownMenuButton">
                    </div>
                </div>
            </li>
        </ul>
        <ul class="nav-right">
            <li class="user-profile">
                <a>
                    <img class="profile-img img-fluid" src="/images/default/eastjun_profile.jpg" alt="">
                    <div class="user-info mrg-left-5">
                        <span class="name pdd-right-5 text-white text-bold">eastjun</span>
                    </div>
                </a>
            </li>
            <li class="">
                <a class="pointer">
                    <span class="text-white text-bold font-size-12">홈</span>
                </a>
            </li>
            <li>
                <a class="pointer">
                    <span class="text-white text-bold font-size-12">만들기</span>
                </a>
            </li>
            <li>
                <div class="friend-btn pointer mrg-vertical-10 mrg-horizon-5">
                    <div aria-expanded="false" aria-haspopup="true" class="dropdown" data-toggle="dropdown">
                        <button class="btn dropdown-toggle nav-dropdown-btn" type="button">
                        </button>
                        <div aria-labelledby="dropdownMenuButton" class="dropdown-menu" id="friend-ask-list">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="message-btn pointer mrg-vertical-10 mrg-horizon-5"></div>
            </li>
            <li>
                <div class="notification-btn pointer mrg-vertical-10 mrg-horizon-5"></div>
            </li>
            <li>
                <div class="dropdown-btn pointer mrg-vertical-10 mrg-horizon-5">
                    <div class="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuButton"> 
                        <button class="btn dropdown-toggle nav-dropdown-btn" type="button">
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#" onclick="return logout()">로그아웃</a>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</header>