<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="signUpHeadFragment">
    <meta charset="UTF-8">
    <title>Wootube</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
          name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Sans+KR&display=swap"
          rel="stylesheet">
    <link href="/css/signup.css" rel="stylesheet">
</th:block>
<th:block th:fragment="signUpScriptFragment">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        const BASE_URL = `http://${window.location.host}`

        const headers = {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        }

        const _success = 'green'
        const _warning = 'yellow'
        const _error = 'red'

        const _emailRegExp = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i
        const _nameRegExp = /^[^ \-!@#$%^&*(),.?":{}|<>0-9]{2,10}$/i

        const _fieldNotEmpty = (field) => field.length !== 0
        const _allFieldNotEmpty = () => {
            return _fieldNotEmpty(vue.name)
                && _fieldNotEmpty(vue.email)
                && _fieldNotEmpty(vue.password)
        }
        const _emailPattern = () => _emailRegExp.test(vue.email)
        const _namePattern = () => _nameRegExp.test(vue.name)
        const _passwordPattern = () => {
            return vue.password.match(/[a-z]/g)
                && vue.password.match(/[0-9]/g)
                && vue.password.length >= 8
                && vue.password.length <= 32
        }

        const _passwordCheck = () => vue.password === vue.passwordCheck

        const _allFormFieldCheck = () => {
            return _allFieldNotEmpty()
                && _emailPattern()
                && _namePattern()
                && _passwordPattern()
                && _passwordCheck()
        }

        const loginSubmitBtnHandler = () => {
            if (vue.duplicationCheckBtn === _warning
                || vue.duplicationCheckBtn === _error) {
                vue.duplicationCheckPlease = '이메일 중복 확인이 필요합니다.'
                return
            }
            if (!_allFormFieldCheck()) {
                vue.duplicationCheckPlease = '빈칸을 모두 채워주세요.'
                return
            }
            vue.duplicationCheckPlease = ''
            if (_allFormFieldCheck() && vue.duplicationCheckBtn === _success) {
                document.getElementById('signup-form').submit();
            }
        }

        const emailDuplicationCheck = () => {
            if (vue.duplicationCheckBtn === _warning
                || vue.duplicationCheckBtn === _error) {
                _duplicationCheckRequest()
            }
        }

        const _duplicationCheckRequest = () => {
            if (!_fieldNotEmpty(vue.email) || !_emailPattern()) {
                return
            }

            if (vue.duplicationCheckBtn === _success) {
                return
            }

            fetch(`${BASE_URL}/api/users`, {
                headers,
                method: "POST",
                body: JSON.stringify({email: vue.email})
            }).then((response) => {
                if (response.ok) {
                    return response.json()
                }
            }).then((data) => {
                if (data.message === 'impossible') {
                    vue.duplicationCheckBtn = _error
                }
                if (data.message === 'possible') {
                    vue.duplicationCheckBtn = _success
                    document.getElementById('email-text-field').disable = true
                }
            }).catch((error) => {
                console.log(error)
                vue.duplicationCheckBtn = _error
            })
        }

        const vue = new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: {
                email: '',
                emailDuplicationCheck: false,
                duplicationCheckBtn: _warning,
                duplicationCheckPlease: '',
                name: '',
                password: '',
                passwordCheck: '',
                rules: {
                    emailRequired: value => !!value || '이메일을 입력해주세요.',
                    emailPattern: value => {
                        if (!_emailRegExp.test(value)) {
                            return '올바른 이메일을 입력해주세요.'
                        }
                        return true
                    },
                    nameRequired: value => !!value || '이름을 입력해주세요.',
                    namePattern: value => {
                        if (!_nameRegExp.test(value)) {
                            return '이름은 2-10자, 영문자와 한글만 가능합니다.'
                        }
                        return true
                    },
                    passwordRequired: value => !!value || '비밀번호를 입력해주세요.',
                    passwordPattern: value => {
                        if (!value.match(/[a-z]/g) ||
                            !value.match(/[0-9]/g) ||
                            value.length < 8) {
                            return '강력한 비밀번호를 설정해주세요'
                        }
                        if (value.length > 32) {
                            return '너무 깁니다.'
                        }
                        return true
                    },
                    passwordChecking: (value) => {
                        if (vue.password !== value) {
                            return '일치하지 않습니다.'
                        }
                        return true
                    }
                }
            }
        })
    </script>
</th:block>
</html>