.detail-con {
    display:flex;
    height:100vh;
    align-items: center;
    justify-content: center;
}

.detail-con>.inner-con{
    background-color:white;
    max-width:935px;
    width:100%;
    min-height:300px;
    max-height:500px;
    display:flex;
    position:relative;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.pic-con{
    background-color:red;
    height:auto;
    width:100%;
    min-height:450px;
    display:flex;
    justify-content: center;
    margin-right:335px;
    overflow: hidden;
}
.pic-con>img{
    width:100%;
}
.text-con{
    position:absolute;
    right:0;
    width:335px;
    height:auto;
    background-color:white;
    border-top-right-radius:2px;
    border-bottom-right-radius:2px;
}

