.editing .view {
    display: none;
}

.edit {
    display: none;
}

.editing .edit {
    display: block;
}

.edit {
    margin: 0;
    font-size: 12px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    border: 0;
    color: inherit;
    padding: 6px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.editing {
    border-bottom: none;
    padding: 0;
}

.edit-form {
    width: 90% !important;
}