i {
    pointer-events: none;
}

.add-comment textarea::placeholder {
    color: #666;
}

.mini-profile-img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.activated-heart {
    color:#ed4956;
}

.hashtag {
    color: #003569;
}

.search-input .advanced-search .search-wrapper .search-result-item {
    height: 40px;
}

.article-card {

}

.article-image {
    width: 100%;
    height: auto;
}

a:hover{
    cursor:pointer;
}