#wootecobook-app {
    min-width: 992px;
}

header ul.nav-right li,
header ul.nav-left li {
    height: 43px;
}

.header {
    background-color: #4267b2;
    border-bottom: 1px solid #29487d;
    color: white;
    height: 43px !important;
    top: 0px;
    min-width: 992px;
}

.logo {
    background-repeat: no-repeat;
    -webkit-background-size: 283px 396px;
    background-size: 283px 396px;
    background-position: -125px -304px;
    height: 24px;
    outline: none;
    overflow: hidden;
    text-indent: -999px;
    white-space: nowrap;
    width: 24px;
    position: absolute;
    top: 9px;
}

.header .header-container .nav-left>li>a,
.header .header-container .nav-right>li>a {
    min-height: 43px;
}

.search-container {
    position: absolute;
    top: 1px;
    left: 50px;
}

.search {
    border-radius: 3px;
    background: white;
}

.searchbox {
    width: 400px;
    height: 18px;
    position: absolute;
    top: 3px;
    left: 7px;
    border: 0 none white;
    border-radius: 3px;
    height: 25px;
    margin: 5px;
    padding: 3px 10px;
    font-size: 10pt;
    outline-style: none;
}

.search-btn {
    width: 27px;
    height: 17px;
    position: absolute;
    top: 12px;
    left: 383px;
    background: none;
    background-image: url('../images/default/icons.png');
    background-position: -26px -202px;
    border-style: none;
    border-left: 1px solid rgb(220, 220, 220);
}

.user-profile {
    height: 43px;
}

.profile-img {
    width: 24px;
    height: 24px;
}

.friend-btn {
    background-size: 283px 396px;
    background-position: 0 -354px;
}

.message-btn {
    background-size: 283px 396px;
    background-position: -50px -354px;
}

.notification-btn {
    background-size: 283px 396px;
    background-position: -175px -329px;
}

.friend-btn,
.message-btn,
.notification-btn {
    background-image: url('../images/default/icons.png');
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
}

.story-user-list {
    height: 55px;
    width: 100%;
}

.bg-lightgray {
    background-color: #f5f6f7;
}

.flex-grow-1 {
    flex-grow: 1;
}

.left {
    position: relative;
    display: block;
    float: left;
    word-wrap: break-word;
}

.left-profile {
    display: block;
    height: 25px;
    word-wrap: break-word;
}

.left-photo {
    height: 38px !important;
    width: 38px !important;
    margin-right: 8px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.left-name-edit {
    width: 130px;
    float: right;
    clear: left;
    display: block;
    padding-top: 4px;
}

.left-name {
    height: 17px;
    width: 112px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: -0.5px;
    text-decoration: none;
    display: block;
}

.left-name:hover {
    font-weight: bold;
    text-decoration: underline;
    display: block;
}

.left-edit {
    height: 17px;
    width: 112px;
    display: block;
}

.left-edit:hover {
    height: 17px;
    width: 112px;
    text-decoration: underline;
    display: block;
}

.left-sub-menus {
    height: 100px;
    width: 164px;
    margin: 12px 0;
    padding: 0;
    list-style-type: none;
}

.left-sub-sub-menus {
    height: 24px;
    width: 164px;
}

.left-sub-sub-menus:hover {
    height: 24px;
    width: 164px;
    font-weight: bold;
    background-color: rgba(203, 204, 207, 0.4);
}

.icons {
    height: 20px;
    width: 20px;
    margin: 3.5px;
    vertical-align: middle;
    display: inline-block;
    background-image: url('../images/default/icons2.png');
    background-repeat: no-repeat;
}

.icon-name {
    vertical-align: middle;
}

.icons.newspeed {
    background-position: 0 -711px;
    background-size: 37px 1608px;
}

.icons.message {
    background-position: 0 -186px;
    background-size: 37px 1608px;
}

.icons.watch {
    background-position: 0 -1110px;
    background-size: 37px 1608px;
}

.icons.group {
    background-position: 0 -879px;
    background-size: 37px 1608px;
}

.icons.photo-video {
    background-position: 0 -837px;
    background-size: 37px 1608px;
}

.icons.tag-friend {
    background-position: 0 -543px;
    background-size: 37px 1608px;
}

.icons.feeling-activity {
    background-position: 0 -501px;
    background-size: 37px 1608px;
}

.left-group-title {
    font-weight: bold;
    color: #616770;
}

.resize-none {
    resize: none;
}

.border-radius-18 {
    border-radius: 18px;
}

.text-link-color {
    color: #385898 !important;
}

.nav-right .user-profile .profile-img {
    width: 25px !important;
    height: 25px !important;
    float: none !important;
}

.header .header-container .nav-left>li>a,
.header .header-container .nav-right>li>a {
    line-height: 43px;
    min-height: 43px;
}