.mypage-header {
    height: 350px;
    background-image: url('/images/default/chelsea.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: #fff;
    z-index: 5;
}

.mypage-header:before {
    content: '배경 사진 업데이트';
    position: relative;
    top: 10px;
    left: 10px;
    display: inline-block;
    padding: 10px;
    border: 1px solid #c9c9c9;
    background-color: #000;
    color: #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    opacity: 0;
    cursor: pointer;
}

.mypage-header:hover:before {
    opacity: 0.7;
    transition: 0.5s opacity;
}

.background {
    position: relative;
    height: 300px;
}

.background .username {
    position: relative;
    top: 230px;
    left: 200px;
    font: bold 40px sans-serif;
}

.mypage-header .categories {
    height: 50px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #c9c9c9;
}

.mypage-header .profile {
    position: relative;
    width: 150px;
    height: 150px;
    border: 3px solid #fff;
    border-radius: 50%;
    background-size: cover;
    left: 1rem;
    bottom: 9rem;
    color: #fff;
    z-index: 10;
}

.mypage-header .profile:before {
    content: '사진 업데이트';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 144px;
    height: 144px;
    border-radius: 50%;
    opacity: 0;
    background-color: #000;
    z-index: 10;
}

.mypage-header .profile:hover:before {
    opacity: 0.5;
    transition: 0.5s opacity;
}

.mypage-header .profile input[type="file"] {
    display: none;
}

/* feed-body */

.mypage-body {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.mypage-body .left-side {
    width: 40vw;
}

body {
    font-size: 14px;
    color: #333;
    letter-spacing: .2px;
}

/* 소개 카드 창 */
.card .card-title {
    padding: 1rem 0 1rem 1rem;
    margin: 0 1rem;
    border-bottom: 1px solid #E9E9E9;
    font-size: 20px;
}

.mypage-body .contents {
    width: 58vw;
    margin-left: 2vw;
}

.card-block {
    margin: 1rem;
}

.card-block .card-contents {
    padding: 0.5rem;
}

.card-block .card-images {
    display: flex;
    flex-wrap: wrap;
}

.card-block .card-images .image {
    width: 12vw;
}

/* 소개 내부 */

.introduction-icon {
    background-image: url(/images/default/icons4.png);
    background-position: 0 -60px;
    width: 24px;
    height: 24px;
    float: left;
    background-size: 34px 332px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 8px;
}

.education-icon {
    background-image: url(/images/default/icons4.png);
    background-position: 0 -242px;
}

.current-city-icon {
    background-image: url(/images/default/icons4.png);
    background-position: 0 -224px;
}

.hometown-icon {
    background-image: url(/images/default/icons4.png);
    background-position: 0 -260px;
}

.company-icon {
    background-image: url(/images/default/icons4.png);
    background-position: 0 -152px;
}

.card-contents > div {
    margin-top: 3px;
    margin-bottom: 3px;
    height: 30px;
}

.card-contents > div > i {
    background-size: 34px 332px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 8px;
    margin-top: 5px;
}

.update-introduction-input, .introduction-card {
    vertical-align: middle;
    display: inline-block;
}

.introduction-update-btn, .introduction-display-btn {
    box-sizing: border-box;
    width: 100%;
    line-height: 26px;
    padding: 0 10px;
    background-color: #f5f6f7;
    border-color: #ccd0d5;
    color: #4b4f56;
    border: 1px solid;
    border-radius: 2px;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    justify-content: center;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    margin-bottom: 8px;
    margin-top: 8px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
}

.display-card, .introduction-update-btn {
    display: block;
}

.update-card, .introduction-display-btn {
    display: none;
}