.remove-btn {
    background: none;
    border: none;
    color: gray;
    font-size: 1.0em;
}

.my-profile-image {
    cursor: pointer;
}

.my-profile-image:hover {
    opacity: 0.5;
    transition: opacity .3s;
}

.my-profile-image:hover:after {
    transition: opacity .3s;
}

.mypage-img-responsive {
    max-width: 100%;
    height: 100%;
}