.profile{
    flex:9;
    display:flex;
}

.profile-area{
    width: 30%;
    height: auto;
}

.user-img {
    width: 80%;
    height: auto;
}

.mypage-contents {
    width: 70%;
}

.mypage-contents .user-activity li {
    width: 20%;
}

.article-row-card {
    display: flex;
    flex-wrap: wrap;
}

.article-row-card > div {
    width: 33%;
    height: 300px;
    overflow: hidden;
}

.article-row-card a{
    width: 100%;
    height: 100%;
    display: block;
}

.article-row-card > div img{
    width: 100%;
    height: 100%;
    padding: 12px;
}

.user-contents {
    padding: 20px;
}