.dropdown {
    font-size: 15px;
    top: 34px;
    left: 12px;
    height: 180px;
    overflow-y: auto;
}

.dropdown-item {
    padding-left: 10px;
    padding-top: 3px;
    width: 400px;
    background: white;
}