body {
    width: 100%;
    margin: auto;
    background-color: #F1F1F1;
}

header {
    left: 0;
}

.edit-container {
    padding-left: 200px;
    padding-right: 200px;
    width: 100%;
    height:100%;
    margin: auto;
}

.video-enroll-div {
    width: 100%;
    margin: auto;
    padding: 5px;
}

.video-contents {
    height: 600px;
    background-color: #FFFFFF;
    margin: 5px;
}

.image-upload {
    padding-top: 210px;
    text-align: center;
}

.image-upload-input {
    text-align: center;
    padding-top: 10px;
    padding-left: 100px;
}

.video-supplement-div {
    height: 600px;
    background-color: #FFFFFF;
    margin: 5px;
    padding: 10px;
}

.confirm-btn {
    background-color: #CC0000;
    border: none;
    color: #FFFFFF;
    padding: 10px 16px;
    margin-right: 4px;
    margin-left: 4px;
    white-space: nowrap;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
}

.delete-btn {
    background-color: #6937A1;
    border: none;
    color: #FFFFFF;
    padding: 10px 16px;
    margin-right: 4px;
    margin-left: 4px;
    white-space: nowrap;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
}

.preview-image {
    width: 150px;
    height: 80px;
}

#uploadProgress {
    width: 100%;
    background-color: #dddddd;
}

#progressBar {
    width: 0;
    height: 30px;
    background-color: #1664b9;
    text-align: center;
    line-height: 30px;
    color: white;
}

.upload-image {
    width: 100px;
    height: 70px
}