body {
    width: 95%;
    margin: auto;
}

header {
    left: 0;
}

.like-icon {
    color: royalblue;
}

.subscribe-btn {
    background-color: #CC0000;
    border: none;
    color: #FFFFFF;
    padding: 10px 16px;
    margin-right: 4px;
    margin-left: 4px;
    white-space: nowrap;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
}

.video-height {
    width: 100%;
    max-width: 640px;
    height: auto;
}

.video-owner-img {
    width: 50px;
    height: 50px;
    left: 50%;
    margin-left: 50%;
}

.thumbnail_img_size {
    width: 100%;
    height: 100%;
}

.auto-play-div {
    display: inline;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.comment-writer-img {
    width: 5%;
    float: left;
}

.reply-writer-img {
    width: 4%;
    float: left;
}

.comment-block {
    width: 94%;
    display: inline-block;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}


.title-views {
    float: left;
    font-size: 1.0em;
}

.title-btn {
    float: right;
}

.title-like-btn, .title-save-btn, .title-share-btn, .title-more-btn {
    background: none;
    border: none;
    color: gray;
    font-size: 1.0em;
}

.title-line {
    height: 1px;
    background: #cccccc;
}

ul {
    list-style: none;
}

.display-none {
    display: none;
}

.like-btn {
    background: none;
    border: none;
    color: gray;
    font-size: 1.5em
}

.more-button {
    transform: rotate(90deg);
    font-size: 1.2em;
    color: #999;
    float: right;
    background: none;
    border: none;
}

.more-button:hover {
    color: #333333;
}

.like-btn:hover {
    color: #333333;
}

.reply-toggle-btn {
    background: none;
    border: none;
    color: gray;
}

.reply-toggle-btn:hover {
    color: #333333;
}

.comment-input {
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #dddddd;
    height: 30px;
    width: 93%;
}

.comment-input:focus {
    border-bottom: 2px solid dimgray;
    transition: ease-in-out border-bottom-color 0.3s;
}

.comment-input::placeholder {
    color: #333;
}

.comment-btn {
    float: right;
}

.comment-cancel-btn {
    background: none;
    color: #777777
}

.comment-save-btn.disabled {
    background: lightgray;
    cursor: unset;
}

.comment-save-btn {
    border-radius: 5%;
    background: #065fd4;
    color: white;
}

.comment-more-box, .reply-more-box {
    background: none;
    border-radius: 1px;
    color: #777777;
    float: right;
}

.comment-more-buttons {
    background: none;
    border: none;
    color: gray;
}

.span-form {
    width: auto;
    word-break:break-all
}

.comment-more-button, .reply-more-button {
    background: none;
    border: none;
    color: gray;
    font-size: 1.0em;
    transform: rotate(90deg);
}

.comment-sort-button {
    background: none;
    border: none;
    color: gray;
    font-size: 1.0em;
}

.list-group-item {
    border: none;
    background: none;
}

.comment-dropdown-menu, .reply-dropdown-menu {
    width: 85px;
    min-width: 0px;
}

.comment-sort-bropdown {
    width: 110px;
}

.reply-list-open-button, .reply-list-close-button {
    background: none;
    border: none;
    color: gray;
    position: relative;
    left: 35px;
}

.like-icon {
    color: royalblue;
}

.comment-update-btn.disabled, .reply-save-btn.disabled, .reply-update-btn.disabled {
    background: lightgray;
    color: white;
    border-radius: 5%;
}

.comment-update-btn, .reply-save-btn, .reply-update-btn {
    background: #065fd4;
    color: white;
    border-radius: 5%;

}

.comment-update-cancel-btn, .reply-cancel-btn, .reply-update-cancel-btn {
    background: none;
    border-radius: 5%;
}

.fa-thumbs-up {
    font-size: 18px;
}

.reply {
    max-width: 95%;
}