<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>alarm test</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
<script>
    var socket = new SockJS("http://127.0.0.1:8080/portfolio");
    var stompClient = Stomp.over(socket);

    var connectCallback = function(frame) {
        console.log("STOMP 연결에 성공했습니다.");
        stompClient.subscribe("/topic/greeting/3", function (message) {
            console.log(typeof message);
            console.log(message);
        })
    };

    stompClient.connect({}, connectCallback);
</script>
</body>
</html>