<html xmlns:th="http://www.thymeleaf.org" lang = "ko">
    <head>
        <th:block th:replace = "common-head :: common-head"></th:block>
        <link rel="stylesheet" href = "/css/app.css">
        <link rel="stylesheet" href = "/css/article-form.css">
    </head>
    <body>
        <div id="form-con">
            <form action = "/articles" method = "post" enctype = "multipart/form-data" name = "article">
                <div id = "form-image">
                    <input name = "imageFile" type = "file" >
                </div> 
                <div id="form-text">
                    <input name = "contents" type = "text">
                </div>
                <button type = "submit">보내기</button>
            </form>
        </div>
    </body>
</html>