<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <th:block th:replace="fragments/common-head :: common-head"></th:block>
    <link rel="stylesheet" href="/css/article-form.css">
</head>
<body>
<th:block th:replace="fragments/header :: index-header"></th:block>
<div class="form-con">
    <div class="form-inner border-con common-flex">
        <form action="/articles" method="post" enctype="multipart/form-data" name="article">
            <div class = "form-nav common-flex">
                <button class="button-none" type="submit">POST</button>
            </div>
            <div class="form-image">
                <lable class="form-image-label">
                    <span class="title">Add File</span>
                    <input name="imageFile" type="file">
                </lable>
            </div>
            <div class="form-text">
                <textarea name="contents" type="text" placeholder="문구 입력..."></textarea>

            </div>

        </form>
    </div>
</div>
</body>
</html>