<html xmlns:th="http://www.thymeleaf.org" lang = "ko">
<head>
    <th:block th:replace = "common-head :: common-head"></th:block>
    <link rel="stylesheet" href = "/css/app.css">
    <link rel="stylesheet" href = "/css/article-detail.css">
</head>
<body>
    <div id="detail-con">
        <div class="inner-con">
            <div class="pic-con">
                <img id="pic" src="" />
            </div>
            <div class="text-con">
                <div class="author-con">
                </div>
                <div class="contents-con">
                    <p id = "contents-para"></p>
                </div>

                <div class="social-con">

                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script th:inline="javascript">
        let articleId = [[${articleId}]];
    </script>
    <script src = "/js/article-detail.js"></script>

</body>
</html>