<!DOCTYPE html>
<html layout:decorator="layout/default"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="head">
    <title>woostagram</title>
</th:block>

<th:block layout:fragment="content">
    <div class="page-container mrg-top-120">
        <div class="main-content">
            <div class="container-fluid max-width-lg mx-auto">
                <div class="row">
                    <div class="col-lg-7 mx-auto">
                        <div class="card widget-feed no-pdd mrg-btm-70">
                            <form id="save-form" name="saveForm" enctype="multipart/form-data">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="file"><b>파일 업로드</b></label>
                                        </div>
                                        <div class="col-md-8">
                                            <input id="file" name="file" type="file">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="mrg-top-10 text-dark" for="hashtag"><b>해시태그</b></label>
                                        </div>
                                        <div class="col=md-8">
                                            <input class="form-control text-bold" id="hashtag" name="hashtag" size="50"
                                                   type="text">
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="mrg-top-10 text-dark" for="contents"><b>내용</b></label>
                                        </div>
                                        <div class="col-md-8">
                                            <textarea class="form-control text-bold" form="save-form" id="contents"
                                                      name="contents"></textarea>

                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-info" id="save-button" type="button">저장</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/fetchApi.js"></script>
    <script src="/js/article-edit.js"></script>
</th:block>
</html>
