<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <th:block th:replace="fragments/common-head :: common-head"></th:block>
    <link rel="stylesheet" href="/css/article-form.css">
</head>
<body>
<div>
    <th:block th:replace="fragments/header :: index-header"></th:block>
    <div class="form-con">
        <div class="form-inner border-con common-flex">
            <form action="/articles" method="post" enctype="multipart/form-data" name="article">
                <div class="form-nav common-flex">
                    <button class="button-none" type="submit">확인</button>
                </div>
                <div class="form-image center-flex">
                    <label class="form-image-label" for="file-input">
                        <img src="/images/common/new.svg">
                    </label>
                    <input id="file-input" name="imageFile" type="file"/>
                    <img class="file-preview inactive" src=""/>
                </div>
                <div class="form-text">
                    <textarea name="contents" type="text" placeholder="문구 입력..."></textarea>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:inline="javascript">
    const error = [[${error}]];
    const message = [[${message}]];
</script>
<th:block th:replace="fragments/common-js :: common-js"></th:block>
<script src="/js/form.js"></script>
<script>
    if(error){
        new Alert(message);
    }
</script>
</body>
</html>