<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/config :: configFragment"/>
    <title>Wootube</title>
</head>

<body>
<div class="app">
    <th:block th:replace="fragments/header :: headerFragment"/>
    <th:block th:replace="fragments/sidebar :: sidebarFragment"/>

    <div class="page-container">
        <div class="main-content pdd-right-50 pdd-left-50">
            <div class="container-fluid max-width-lg-2">

                <div>
                    <h3 class="text-bold height-40px">맞춤 동영상</h3>
                </div>

                <div>
                    <div class="row">
                        <div class="col-lg-2 padding-2">
                            <div class="card bg-transparent no-border">
                                <div class="card-media">
                                    <img alt="" class="img-responsive"
                                         src="/images/default/thumb_001.jpeg">
                                </div>
                                <div class="card-block padding-10">
                                    <h5 class="mrg-btm-10 no-mrg-top text-bold font-size-14 ls-0">[10분
                                        테크토크] 🦊🦆닉&러너덕의
                                        점심봇</h5>
                                    <span class="font-size-13">우아한Tech</span>
                                    <div class="font-size-13">
                                        <span>조회수 952회</span>
                                        <span> · </span>
                                        <span>3일 전</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 padding-2">
                            <div class="card bg-transparent no-border">
                                <div class="card-media">
                                    <img alt="" class="img-responsive"
                                         src="/images/default/thumb_002.jpeg">
                                </div>
                                <div class="card-block padding-10">
                                    <h5 class="mrg-btm-10 no-mrg-top text-bold font-size-14 ls-0">[10분
                                        테크토크] 👾베디의 OCP와
                                        전략패턴</h5>
                                    <span>우아한Tech</span>
                                    <span class="d-block">조회수 952회 | 3일 전</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 padding-2">
                            <div class="card bg-transparent no-border">
                                <div class="card-media">
                                    <img alt="" class="img-responsive"
                                         src="/images/default/thumb_001.jpeg">
                                </div>
                                <div class="card-block padding-10">
                                    <h5 class="mrg-btm-10 no-mrg-top text-bold font-size-14 ls-0">[10분
                                        테크토크] 🦊🦆닉&러너덕의
                                        점심봇</h5>
                                    <span class="font-size-13">우아한Tech</span>
                                    <div class="font-size-13">
                                        <span>조회수 952회</span>
                                        <span> · </span>
                                        <span>3일 전</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 padding-2">
                            <div class="card bg-transparent no-border">
                                <div class="card-media">
                                    <img alt="" class="img-responsive"
                                         src="/images/default/thumb_003.jpeg">
                                </div>
                                <div class="card-block padding-10">
                                    <h5 class="mrg-btm-10 no-mrg-top text-bold font-size-14 ls-0">[10분
                                        테크토크] 🤠루피의 우아한테크코스
                                        도서관리시스템</h5>
                                    <span>우아한Tech</span>
                                    <span class="d-block">조회수 952회 | 3일 전</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 padding-2">
                            <div class="card bg-transparent no-border">
                                <div class="card-media">
                                    <img alt="" class="img-responsive"
                                         src="/images/default/thumb_004.jpeg">
                                </div>
                                <div class="card-block padding-10">
                                    <h5 class="mrg-btm-10 no-mrg-top text-bold font-size-14 ls-0">[10분
                                        테크토크]
                                        👩🏻‍💻👨🏻‍💻해리&션의 MVC 패턴</h5>
                                    <span>우아한Tech</span>
                                    <span class="d-block">조회수 952회 | 3일 전</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 padding-2">
                            <div class="card bg-transparent no-border">
                                <div class="card-media">
                                    <img alt="" class="img-responsive"
                                         src="/images/default/thumb_005.jpeg">
                                </div>
                                <div class="card-block padding-10">
                                    <h5 class="mrg-btm-10 no-mrg-top text-bold font-size-14 ls-0">[10분
                                        테크토크]
                                        👨🏻‍💻👨🏻‍💻지노&비모의 DTO vs VO</h5>
                                    <span>우아한Tech</span>
                                    <span class="d-block">조회수 952회 | 3일 전</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 padding-2">
                            <div class="card bg-transparent no-border">
                                <div class="card-media">
                                    <img alt="" class="img-responsive"
                                         src="/images/default/thumb_001.jpeg">
                                </div>
                                <div class="card-block padding-10">
                                    <h5 class="mrg-btm-10 no-mrg-top text-bold font-size-14 ls-0">[10분
                                        테크토크] 🦊🦆닉&러너덕의
                                        점심봇</h5>
                                    <span class="font-size-13">우아한Tech</span>
                                    <div class="font-size-13">
                                        <span>조회수 952회</span>
                                        <span> · </span>
                                        <span>3일 전</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 padding-2">
                            <div class="card bg-transparent no-border">
                                <div class="card-media">
                                    <img alt="" class="img-responsive"
                                         src="/images/default/thumb_002.jpeg">
                                </div>
                                <div class="card-block padding-10">
                                    <h5 class="mrg-btm-10 no-mrg-top text-bold font-size-14 ls-0">[10분
                                        테크토크] 👾베디의 OCP와
                                        전략패턴</h5>
                                    <span>우아한Tech</span>
                                    <span class="d-block">조회수 952회 | 3일 전</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 padding-2">
                            <div class="card bg-transparent no-border">
                                <div class="card-media">
                                    <img alt="" class="img-responsive"
                                         src="/images/default/thumb_003.jpeg">
                                </div>
                                <div class="card-block padding-10">
                                    <h5 class="mrg-btm-10 no-mrg-top text-bold font-size-14 ls-0">[10분
                                        테크토크] 🤠루피의 우아한테크코스
                                        도서관리시스템</h5>
                                    <span>우아한Tech</span>
                                    <span class="d-block">조회수 952회 | 3일 전</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 padding-2">
                            <div class="card bg-transparent no-border">
                                <div class="card-media">
                                    <img alt="" class="img-responsive"
                                         src="/images/default/thumb_004.jpeg">
                                </div>
                                <div class="card-block padding-10">
                                    <h5 class="mrg-btm-10 no-mrg-top text-bold font-size-14 ls-0">[10분
                                        테크토크]
                                        👩🏻‍💻👨🏻‍💻해리&션의 MVC 패턴</h5>
                                    <span>우아한Tech</span>
                                    <span class="d-block">조회수 952회 | 3일 전</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 padding-2">
                            <div class="card bg-transparent no-border">
                                <div class="card-media">
                                    <img alt="" class="img-responsive"
                                         src="/images/default/thumb_005.jpeg">
                                </div>
                                <div class="card-block padding-10">
                                    <h5 class="mrg-btm-10 no-mrg-top text-bold font-size-14 ls-0">[10분
                                        테크토크]
                                        👨🏻‍💻👨🏻‍💻지노&비모의 DTO vs VO</h5>
                                    <span>우아한Tech</span>
                                    <span class="d-block">조회수 952회 | 3일 전</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <hr class="video-line">

                <div>
                    <h3 class="text-bold height-40px">추천 영상</h3>
                </div>

                <div class="row">
                    <div class="col-lg-2 padding-2">
                        <div class="card bg-transparent no-border">
                            <div class="card-media">
                                <img alt="" class="img-responsive"
                                     src="/images/default/thumb_002.jpeg">
                            </div>
                            <div class="card-block padding-10">
                                <h5 class="mrg-btm-10 no-mrg-top text-bold font-size-14 ls-0">[10분
                                    테크토크] 👾베디의 OCP와
                                    전략패턴</h5>
                                <span>우아한Tech</span>
                                <span class="d-block">조회수 952회 | 3일 전</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 padding-2">
                        <div class="card bg-transparent no-border">
                            <div class="card-media">
                                <img alt="" class="img-responsive"
                                     src="/images/default/thumb_004.jpeg">
                            </div>
                            <div class="card-block padding-10">
                                <h5 class="mrg-btm-10 no-mrg-top text-bold font-size-14 ls-0">[10분
                                    테크토크]
                                    👩🏻‍💻👨🏻‍💻해리&션의 MVC 패턴</h5>
                                <span>우아한Tech</span>
                                <span class="d-block">조회수 952회 | 3일 전</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 padding-2">
                        <div class="card bg-transparent no-border">
                            <div class="card-media">
                                <img alt="" class="img-responsive"
                                     src="/images/default/thumb_005.jpeg">
                            </div>
                            <div class="card-block padding-10">
                                <h5 class="mrg-btm-10 no-mrg-top text-bold font-size-14 ls-0">[10분
                                    테크토크]
                                    👨🏻‍💻👨🏻‍💻지노&비모의 DTO vs VO</h5>
                                <span>우아한Tech</span>
                                <span class="d-block">조회수 952회 | 3일 전</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 padding-2">
                        <div class="card bg-transparent no-border">
                            <div class="card-media">
                                <img alt="" class="img-responsive"
                                     src="/images/default/thumb_006.jpeg">
                            </div>
                            <div class="card-block padding-10">
                                <h5 class="mrg-btm-10 no-mrg-top text-bold font-size-14 ls-0">[10분
                                    테크토크]
                                    🤦‍♂️🤦‍♂️슬로스&이바의 우리는 왜 실패했는가</h5>
                                <span>우아한Tech</span>
                                <span class="d-block">조회수 952회 | 3일 전</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 padding-2">
                        <div class="card bg-transparent no-border">
                            <div class="card-media">
                                <img alt="" class="img-responsive"
                                     src="/images/default/thumb_006.jpeg">
                            </div>
                            <div class="card-block padding-10">
                                <h5 class="mrg-btm-10 no-mrg-top text-bold font-size-14 ls-0">[10분
                                    테크토크]
                                    🤦‍♂️🤦‍♂️슬로스&이바의 우리는 왜 실패했는가</h5>
                                <span>우아한Tech</span>
                                <span class="d-block">조회수 952회 | 3일 전</span>
                            </div>
                        </div>
                    </div>

                </div>

                <hr class="video-line">

                <div>
                    <h3 class="text-bold height-40px">인기 동영상</h3>
                </div>

                <div class="row">
                    <div class="col-lg-2 padding-2">
                        <div class="card bg-transparent no-border">
                            <div class="card-media">
                                <img alt="" class="img-responsive"
                                     src="/images/default/thumb_002.jpeg">
                            </div>
                            <div class="card-block padding-10">
                                <h5 class="mrg-btm-10 no-mrg-top text-bold font-size-14 ls-0">[10분
                                    테크토크] 👾베디의 OCP와
                                    전략패턴</h5>
                                <span>우아한Tech</span>
                                <span class="d-block">조회수 952회 | 3일 전</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 padding-2">
                        <div class="card bg-transparent no-border">
                            <div class="card-media">
                                <img alt="" class="img-responsive"
                                     src="/images/default/thumb_003.jpeg">
                            </div>
                            <div class="card-block padding-10">
                                <h5 class="mrg-btm-10 no-mrg-top text-bold font-size-14 ls-0">[10분
                                    테크토크] 🤠루피의 우아한테크코스
                                    도서관리시스템</h5>
                                <span>우아한Tech</span>
                                <span class="d-block">조회수 952회 | 3일 전</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 padding-2">
                        <div class="card bg-transparent no-border">
                            <div class="card-media">
                                <img alt="" class="img-responsive"
                                     src="/images/default/thumb_004.jpeg">
                            </div>
                            <div class="card-block padding-10">
                                <h5 class="mrg-btm-10 no-mrg-top text-bold font-size-14 ls-0">[10분
                                    테크토크]
                                    👩🏻‍💻👨🏻‍💻해리&션의 MVC 패턴</h5>
                                <span>우아한Tech</span>
                                <span class="d-block">조회수 952회 | 3일 전</span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<th:block th:replace="fragments/script :: scriptFragment"/>
<script type="text/javascript" src="/js/index.js"></script>

</body>
</html>
