<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <th:block th:replace="common/head"></th:block>
</head>

<body>
<div id="wootecobook-app">
    <header th:replace="layout/headline"></header>
    <div class="container-fluid max-width-lg mx-auto mrg-top-70" id="main-content">
        <div class="row">
            <div th:replace="layout/left-profile"></div>
            <div th:replace="layout/center-container"></div>
            <div th:replace="layout/right-sidebar"></div>
        </div>
    </div>
</div>
<th:block th:include="common/cdns"></th:block>
<script src="/js/fetch-api.js" defer></script>
<script src="/js/social-feed.js" defer></script>
<script src="/js/post-like.js" defer></script>
<script src="/js/post-edit.js" defer></script>
<script src="/js/post-share.js" defer></script>
<script src="/js/comment.js" defer></script>
<script src="/js/time-update.js" defer></script>
</body>

</html>