<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <th:block th:replace="fragments/common-head :: common-head"></th:block>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="authentication">
    <div class="sign-in-2">
        <div class="container-fluid no-pdd-horizon">
            <div class="row">
                <div class="col-md-10 mr-auto ml-auto">
                    <div class="row">
                        <div class="mr-auto ml-auto full-height height-100 d-flex align-items-center">
                            <div class="con center-flex full-height">

                                <div class="phone-con common-flex">
                                    <div class="phone-body">
                                        <img class="" src="/images/login/screen0.jpg">
                                    </div>
                                </div>

                                <div class="login-form-con">
                                    <div class="login-form-card min-widtt-">
                                        <div class="card-body">
                                            <div class="pdd-horizon-20 pdd-vertical-20">
                                                <div class=" logo-con common-flex mrg-btm-30">
                                                    <img class="logo" src="/images/logo/instagram_logo_text.png">
                                                </div>
                                                <form class="login-form" action="/users/login" method="post">
                                                    <div class="form-group">
                                                        <label class="text-normal text-dark">Email Address</label>
                                                        <input type="email" name="email" class="form-control" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="text-normal text-dark">Password</label>
                                                        <input type="password" name="password" class="form-control" required>
                                                    </div>
                                                    <div th:if="${error}" th:text="${message}"
                                                         class="alert alert-danger" role="alert"></div>
                                                    <div class="login-btn-con common-flex form-group">
                                                        <div class="login-btn-inner">
                                                            <button type="submit"
                                                                    class="login-btn ">
                                                                로그인
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="sign-con login-form-card text-center">
                                        <div class="pdd-horizon-20 pdd-vertical-20">
                                        <div class="text-dark font-size-14">
                                            <span>계정이 없으신가요? </span>
                                            <a href="/users/signup/form" class=" text-bold text-info pointer">가입하기</a>
                                        </div>
                                        </div>
                                    </div>

                                    <div class="download-con text-center">
                                        <div class="text-dark">
                                            <p>앱을 다운로드 하세요 </p>
                                            <img src="/images/login/apple.png">
                                            <img src="/images/login/google.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="fragments/common-js :: common-js"></th:block>

</body>
</html>
