<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="common/header::mainHead"></head>

<body>
    <div id="wootecobook-app">
        <header th:replace="layout/headline::headline"></header>
        <div class="container-fluid max-width-lg mx-auto mrg-top-70" id="main-content">
            <div class="row">
                <!-- 왼쪽 프로필 영역 left-profile-->
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="left-placeholder-container">
                </div>
                <!-- 가운데 콘텐츠 영역 center-container -->
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    <div th:replace="layout/login-area"></div>
                </div>
                <!-- 오른쪽 사이드바 영역 right-sidebar -->
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pdd-right-0">
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="common/cdns"></th:block>
</body>

</html>