<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <th:block th:replace="fragments/common-head :: common-head"></th:block>
</head>
<body>
<th:block th:replace="fragments/header :: index-header"></th:block>

<form action="/users" th:method="put" enctype="multipart/form-data">
    <div class="container-fluid max-width-lg mx-auto mrg-btm-30 padding-30" style="margin-top: 100px">
        <div class="row">
            <div class="col-md-7 mx-auto">
                <div class="card">
                    <div class="card-heading pdd-btm-5 border bottom">
                        <h4 class="card-title d-inline-block">profile</h4>
                        <button type="submit" class="btn btn-info float-right mrg-btm-0 relative bottom-5">수정</button>
                    </div>
                    <div th:if="${error}" th:text="${message}" class="alert alert-danger"
                         role="alert"></div>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-3">
                                <p class="mrg-top-10 text-dark"><b>Name</b></p>
                            </div>
                            <div class="col-md-6">
                                <input name="name" type="text" class="form-control"
                                       th:value="${userInfo.userContentsDto.name}">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <p class="mrg-top-10 text-dark"><b>UserName</b></p>
                            </div>
                            <div class="col-md-6">
                                <input name="userName" type="text" class="form-control"
                                       th:value="${userInfo.userContentsDto.userName}" th:filed="*{userName}">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <p class="mrg-top-10 text-dark"><b>Contents</b></p>
                            </div>
                            <div class="col-md-6">
                                <input name="contents" type="text" class="form-control"
                                       th:value="${userInfo.userContentsDto.contents}">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <p class="mrg-top-10 text-dark"><b>Email</b></p>
                            </div>
                            <div class="col-md-6">
                                <p class="mrg-top-10" th:text="${userInfo.email}"></p>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<th:block th:replace="fragments/common-js :: common-js"></th:block>

</body>
</html>
