<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <th:block th:replace="fragments/common-head :: common-head"></th:block>
</head>
<body>
<header id="header" class="haeader navbar">
    <div class="header-container max-width-lg mx-auto">
        <ul class="nav-left mrg-left-0 padding-15">
            <li>
                <img class="logo desktop-view" src="/images/logo/instgram_logo.png">
                <div class="width-40px mobile-view overflow-hidden">
                    <img class="logo" src="/images/logo/instgram_logo.png">
                </div>
            </li>
        </ul>
    </div>
</header>


<div class="container-fluid max-width-lg mx-auto mrg-btm-30 padding-30" style="margin-top: 100px">
    <div class="row">
        <div class="col-md-7 mx-auto">
            <div class="card">
                <div class="card-heading pdd-btm-5 border bottom">
                    <h4 class="card-title d-inline-block">profile</h4>
                    <a href="/users/mypage-edit/form"
                       class="float-right pointer btn btn-default btn-icon btn-rounded no-border-line no-mrg relative bottom-5">
                        <i class="ti-pencil text-dark font-size-16 pdd-horizontal-5"></i>
                    </a>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-3">
                            <p class="mrg-top-10 text-dark"><b>Name</b></p>
                        </div>
                        <div class="col-md-6">
                            <p class="mrg-top-10" th:text="${userInfo.userContentsDto.name}">해리</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-3">
                            <p class="mrg-top-10 text-dark"><b>UserName</b></p>
                        </div>
                        <div class="col-md-6">
                            <p class="mrg-top-10" th:text="${userInfo.userContentsDto.userName}">Brown</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-3">
                            <p class="mrg-top-10 text-dark"><b>Contents</b></p>
                        </div>
                        <div class="col-md-6">
                            <p class="mrg-top-10" th:text="${userInfo.userContentsDto.contents}">!@_@!</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-3">
                            <p class="mrg-top-10 text-dark"><b>Email</b></p>
                        </div>
                        <div class="col-md-6">
                            <p class="mrg-top-10" th:text="${userInfo.email}">gracefulBrown@woowahan.com</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-3">
                            <p class="mrg-top-10 text-dark"><b>Avatar</b></p>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <button class="modal-btn" width="117">
                                    <img id="profile-image" width="117" alt="프로필 사진 바꾸기">
                                </button>
                            </div>
                            <form id="image-form" enctype="multipart/form-data" method="post" role="presentation">
                                <input class="d-none" name="imageFile" multiple id="img-upload" type="file"
                                       accept="image/jpeg,image/png,image/jpg">
                                <input type="hidden" name="originalImageFile" id="original-image"
                                       th:value="${userInfo.profile}">
                            </form>
                        </div>
                    </div>
                    <hr>

                    <form id="deleteForm" th:method="delete" action="/users">
                        <button type="submit" id="deleteButton" class="btn btn-default no-border-line">
                            <i class="ti-trash font-size-16"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inactive modal-animation">
    <div class="modal-dialog-inner">
        <div class="modal-dialog-custom common-flex">
            <button class="choose-image-btn" tabindex="0">사진 선택</button>
            <button class="default-image-btn delete-btn font-cap" type="button" tabindex="0">기본 사진</button>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"
        integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/user.js"></script>
<script src="/js/modal.js"></script>
<script src="/js/util.js"></script>
<script th:inline="javascript">
    let profileUrl = [[ ${userInfo.profile} ]];

    const profileImage = document.querySelector('#profile-image');
    const originalImage = document.querySelector('#original-image');
    profileImage.setAttribute("src", profileUrl);
    if (profileUrl === null) {
        profileImage.setAttribute("src",
            "https://woowahan-crews.s3.ap-northeast-2.amazonaws.com/default_profile_image.jpg");
        originalImage.setAttribute("value",
            "https://woowahan-crews.s3.ap-northeast-2.amazonaws.com/default_profile_image.jpg");
    }
</script>
</body>

</html>
