<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head"/>
</head>
<body>
<div id="wootecobook-app">
    <header id="header" class="header navbar">
        <div class="header-container max-width-lg mx-auto">
            <ul class="nav-left mrg-left-0">
                <li>
                    <a href="/newsfeed">
                        <div class="logo" style="background-image: url('/images/default/icons.png')"></div>
                    </a>
                </li>
                <li class="search-container">
                <span class="search">
                    <form action="/search" method="get">
                        <input type="text" class="searchbox" name="userName" placeholder="검색">
                        <button type="submit" class="search-btn">
                            <i class="ti-search"></i>
                        </button>
                    </form>
                </span>
                </li>
            </ul>
            <ul class="nav-right">
                <li class="user-profile">
                    <a href="/users">
                        <img class="profile-img img-fluid" src="/images/default/eastjun_profile.jpg" alt="">
                        <div class="user-info mrg-left-5">
                            <span class="name pdd-right-5 text-white text-bold" id="login-user-name">eastjun</span>
                        </div>
                    </a>
                </li>
                <li class="">
                    <a class="pointer" href="/newsfeed">
                        <span class="text-white text-bold font-size-12">홈</span>
                    </a>
                </li>
                <li>
                    <a class="pointer">
                        <span class="text-white text-bold font-size-12">만들기</span>
                    </a>
                </li>
                <li>
                    <div class="friend-btn pointer mrg-vertical-10 mrg-horizon-5" id="friend-list-btn"></div>
                </li>
                <li>
                    <div class="message-btn pointer mrg-vertical-10 mrg-horizon-5"></div>
                </li>
                <li>
                    <div class="notification-btn pointer mrg-vertical-10 mrg-horizon-5"></div>
                </li>

            </ul>
        </div>
    </header>
    <div id="main-content" class="container-fluid max-width-lg mx-auto mrg-top-70">
        <div class="row">
            <div id="left-profile-container" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <div class="left">
                    <div class="left-profile">
                        <a class="pointer">
                            <img class="img-circle width-25px" src="/images/default/eastjun_profile.jpg">
                            <div class="left-name-edit pointer">
                                <a class="left-name">eastjun</a>
                            </div>
                        </a>
                    </div>
                    <div class="left-menus">
                        <ul class="left-sub-menus">
                            <li class="left-sub-sub-menus mrg-btm-5 pointer">
                                <div class="icons newspeed"></div>
                                <span class="icon-name">  뉴스피드</span>
                            </li>
                            <li class="left-sub-sub-menus mrg-btm-5 pointer">
                                <div class="icons message"></div>
                                <span class="icon-name">  Messenger</span>
                            </li>
                            <li class="left-sub-sub-menus mrg-btm-5 pointer">
                                <div class="icons watch"></div>
                                <span class="icon-name">  Watch</span>
                            </li>
                        </ul>
                        <ul class="left-sub-menus">
                            <div class="left-group-title">바로가기</div>
                            <li class="left-sub-sub-menus pointer">
                                <div class="icons group"></div>
                                <span class="icon-name">  우테코 1기</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <div class="social-feeds">
                    <div class="card widget-compose">
                        <p class="border bottom width-100 pdd-btm-5 text-bold">게시물 만들기</p>
                        <textarea id="article-contents"
                                  class="resize-none form-control border bottom resize-none"
                                  placeholder="oo님, 무슨 생각을 하고 계신가요?"></textarea>
                        <ul class="composor-tools pdd-top-15">
                            <input type="file" id="photo-video-input" name="photo-video" style="display:none" accept=".jpg,.jpeg.,.gif,.png,.mov,.mp4">
                            <li class="bg-lightgray border-radius-round mrg-right-5">
                                <a class="pdd-vertical-5 pdd-horizon-10 pointer" id="photo-video-btn">
                                    <div class="icons photo-video"></div>
                                    <span class="icon-name font-size-13 text-bold"> 사진/동영상</span>
                                </a>
                            </li>
                            <li class="bg-lightgray border-radius-round mrg-right-5">
                                <a class="pdd-vertical-5 pdd-horizon-10 pointer">
                                    <div class="icons tag-friend"></div>
                                    <span class="icon-name font-size-13 text-bold"> 친구 태그하기</span>
                                </a>
                            </li>
                            <li class="bg-lightgray border-radius-round mrg-right-5">
                                <a class="pdd-vertical-5 pdd-horizon-10 pointer">
                                    <div class="icons feeling-activity"></div>
                                    <span class="icon-name font-size-13 text-bold"> 기분/활동</span>
                                </a>
                            </li>
                            <li>
                                <select id="article-range" class="selectpicker" data-width="fit">
                                    <option>모두 공개</option>
                                    <option>친구 공개</option>
                                    <option>비공개</option>
                                </select>
                            </li>
                        </ul>
                        <ul class="composor-tools pdd-top-15">
                            <li class="mrg-btm-5">
                                <img id="preview" src="" width="120px" alt="">
                            </li>
                        </ul>
                        <ul class="composor-tools pdd-top-15">
                            <li class="mrg-right-5 block">
                                <button class="btn block btn-info btn-rounded" id="article-save-btn" type="button">
                                    <span>작성</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="article-list"></div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pdd-right-0">
                <div class="card">
                    <h5 class="card-title mrg-top-15 mrg-btm-0 mrg-horizon-15">스토리</h5>
                    <div class="card-body">
                        <ul class="list-unstyled list-info">
                            <li class="story-user-list mrg-btm-10">
                                <img class="thumb-img img-circle img-circle-blue border"
                                     src="/images/default/plus_btn.png" alt="">
                                <div class="info mrg-left-5">
                                    <a href=""
                                       class="title no-pdd-vertical text-semibold inline-block text-bold text-link-color">스토리에
                                        추가</a>
                                    <span class="sub-title">사진, 동영상을 공유하거나 글을 남겨보세요</span>
                                </div>
                            </li>
                            <li class="story-user-list mrg-btm-10">
                                <img class="thumb-img img-circle img-circle-blue"
                                     src="https://avatars2.githubusercontent.com/u/46308585?s=460&v=4" alt="">
                                <div class="info mrg-left-5 pdd-top-5">
                                    <a href="" class="title no-pdd-vertical text-semibold inline-block text-bold">CU</a>
                                    <span class="sub-title">18시간전</span>
                                </div>
                            </li>
                            <li class="story-user-list mrg-btm-10">
                                <img class="thumb-img img-circle img-circle-blue"
                                     src="/images/default/eastjun_profile.jpg" alt="">
                                <div class="info mrg-left-5 pdd-top-5">
                                    <a href="" class="title no-pdd-vertical text-semibold inline-block text-bold">Eastjun</a>
                                    <span class="sub-title">18시간전</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="border top">
                        <div class="pdd-vertical-15 pdd-horizon-20 text-center">
                            <a href="" class="text-semibold text-dark">More...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:include="fragments/common-modal" />
<th:block th:include="fragments/common-scripts" />
<script src="/js/article-template.js"></script>
<script src="/js/reaction.js"></script>
<script src="/js/article.js"></script>
<script src="/js/comment.js"></script>
</body>
</html>
