<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>Fakebook</title>
    <meta name="robots" content="index, follow">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <meta name="keyword" content="우아한테크코스, 프로그래밍, 개발자, 백엔드, 프론트엔드, Backend, Frontend, IOS, Android">
    <meta name="description" id="metaDesc" content="우테코북">

    <meta property="og:type" content="website">
    <meta property="og:title" content="우아한테크코스">
    <meta property="og:description" id="metaOgDesc" content="우테코북">
    <meta property="og:image" content="/images/logo/logo-thumnail-bg.jpg">
    <meta property="og:url" content="https://woowacourse.github.io/">

    <meta name="twitter:card" content="website">
    <meta name="twitter:title" content="우아한테크코스">
    <meta name="twitter:description" id="metaTwitterDesc" content="우테코북">
    <meta name="twitter:image" content="/images/logo/logo-thumnail-bg.jpg">
    <meta name="twitter:domain" content="https://woowacourse.github.io/">

    <link rel="shortcut icon" href="/images/logo/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Amiri:400,400i|Source+Sans+Pro:400,400i,600,700'">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/search.css">
    <link rel="stylesheet" href="/css/attachment.css">
</head>
<body>
<div id="wootecobook-app">
    <header class="header navbar">
        <nav class="header-container max-width-lg mx-auto">
            <ul class="nav-left mrg-left-0">
                <li>
                    <a href="/newsfeed">
                        <div class="logo logo-small" style="background-image: url('/images/default/icons.png')"></div>
                    </a>
                </li>
                <li class="search-container">
                    <span class="search">
                        <form id="search-form" method="get">
                            <input id="search" class="searchbox" placeholder="검색" type="text">
                            <div id="auto-complete" class="dropdown">
                            </div>
                            <button type="submit" class="search-btn">
                                <i class="ti-search"></i>
                            </button>
                        </form>
                    </span>
                </li>
            </ul>
            <ul class="nav-right">
                <li th:if="${session.user}" th:object="${session.user}" class="user-profile">
                    <a th:href="'/users/' + *{id}">
                        <img class="profile-img img-fluid" th:src="'/images/profile/' + *{coverUrl}" alt="프로필 사진">
                        <div class="user-info mrg-left-5">
                            <span class="name pdd-right-5 text-white text-bold" th:text="*{name}"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <div class="friend-btn pointer mrg-vertical-10 mrg-horizon-5"></div>
                </li>
                <li>
                    <div class="message-btn pointer mrg-vertical-10 mrg-horizon-5"></div>
                </li>
                <li>
                    <div class="notification-btn pointer mrg-vertical-10 mrg-horizon-5"></div>
                </li>
                <li>
                    <div class="more-btn pointer mrg-vertical-10 mrg-horizon-5"></div>
                </li>
            </ul>
        </nav>
    </header>
    <main class="container-fluid max-width-lg mx-auto">
        <div class="row mrg-top-70">
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                <div class="card widget-compose">
                    <div id="profile-photo-container">
                        <img th:src="'/images/profile/' + ${user.coverUrl}" src="/images/profile/default.png"
                             alt="프로필 사진">
                        <p th:text="${user.name}">이름</p>
                    </div>
                    <div th:if="${session.user}">
                        <input id="user-id" type="hidden" th:value="${session.user.id}">
                        <input id="friend-id" type="hidden" th:value="${user.id}">
                        <input id="already-friend" type="hidden" th:value="${isFriend}">
                        <button th:if="${session.user.id} != ${user.id}" id="add-friend" type="button"
                                th:onclick="|javascript:App.makeFriend('${user.id}')|"><i
                                class="ti-plus font-size-8"><i class="icons add-friend"></i></i> 친구 추가
                        </button>
                        <button th:if="${session.user.id} != ${user.id}" id="remove-friend" type="button"
                                th:onclick="|javascript:App.breakWithFriend('${user.id}')|"><i
                                class="ti-minus font-size-8"><i class="icons add-friend"></i></i> 친구 제거
                        </button>
                        <button th:if="${session.user.id} == ${user.id}" id="edit-profile" type="button"><i
                                class="icons edit-profile"></i> 프로필 수정
                        </button>
                    </div>
                    <div id="edit-profile-modal">
                        <div id="profile-modal-content">
                            <span id="edit-profile-close">&times;</span>
                            <div id="edit-profile-form">
                                <h2>프로필 수정</h2>

                                <h3>사진 수정</h3>
                                <input id="profile-attachment" type="file" accept="file_extension|image/*|media_type">

                                <h3>소개 수정</h3>
                                <input type="text" class="edit-introduction">

                                <h3>이름 수정</h3>
                                <input type="text" class="edit-name">

                                <h3>비밀번호 수정</h3>
                                <input type="password" class="edit-password">
                                <input type="password" class="edit-password-confirm">

                                <input id="edit-profile-button" value="수정하기" type="submit">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mrg-top-20">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="profile">
                    <div class="card widget-compose">
                        <div class="introduction-icon"></div>
                        <p class="border bottom width-100 pdd-btm-5 text-bold">소개</p>
                        <p class="text-center width-100" th:text="${user.introduction}">간단한 소개를 추가하여 회원님에 대해 자세히
                            알려주세요.<br><br><a href="">소개 추가</a></p>
                    </div>
                    <div class="card widget-compose">
                        <div class="friend-icon"></div>
                        <p class="border bottom width-100 pdd-btm-5 text-bold">친구</p>
                        <p class="text-center width-100">친구를 추가하고 업데이트 소식을 확인해보세요.</p>
                        <div>
                            <div class="friend">
                                <img src="/images/profile/default.png" alt="이름">
                                <span class="friend-name">이름</span>
                            </div>
                            <div class="friend">
                                <img src="/images/profile/default.png" alt="이름">
                                <span class="friend-name">이름</span>
                            </div>
                            <div class="friend">
                                <img src="/images/profile/default.png" alt="이름">
                                <span class="friend-name">이름</span>
                            </div>
                            <div class="friend">
                                <img src="/images/profile/default.png" alt="이름">
                                <span class="friend-name">이름</span>
                            </div>
                            <div class="friend">
                                <img src="/images/profile/default.png" alt="이름">
                                <span class="friend-name">이름</span>
                            </div>
                            <div class="friend">
                                <img src="/images/profile/default.png" alt="이름">
                                <span class="friend-name">이름</span>
                            </div>
                            <div class="friend">
                                <img src="/images/profile/default.png" alt="이름">
                                <span class="friend-name">이름</span>
                            </div>
                            <div class="friend">
                                <img src="/images/profile/default.png" alt="이름">
                                <span class="friend-name">이름</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                <div th:if="${session.user}">
                    <div th:if="${session.user.id} == ${user.id}" class="social-feeds">
                        <div class="card widget-compose">
                            <p class="border bottom width-100 pdd-btm-5 text-bold write-article-text">게시물 만들기</p>
                            <textarea id="new-article" class="resize-none form-control border bottom resize-none"
                                      th:placeholder="${session.user.name} + '님, 무슨 생각을 하고 계신가요?'"></textarea>
                            <div id="attachment-modal">
                                <div id="modal-content">
                                    <span id="attachment-close">&times;</span>
                                    <p>
                                        <input id="attachment" type="file"
                                               accept="file_extension|image/*|media_type">
                                    </p>
                                </div>
                            </div>
                            <ul class="composor-tools pdd-top-15">
                                <li id="attachment-open" class="bg-lightgray-button border-radius-round mrg-right-5">
                                    <a class="pdd-vertical-5 pdd-horizon-10 pointer">
                                        <div class="icons photo-video"></div>
                                        <span class="icon-name font-size-13 text-bold"> 사진 / 동영상</span>
                                    </a>
                                </li>
                                <li class="bg-lightgray-button border-radius-round mrg-right-5">
                                    <a class="pdd-vertical-5 pdd-horizon-10 pointer">
                                        <div class="icons tag-friend"></div>
                                        <span class="icon-name font-size-13 text-bold"> 친구 태그하기</span>
                                    </a>
                                </li>
                                <li class="bg-lightgray-button border-radius-round mrg-right-5">
                                    <a class="pdd-vertical-5 pdd-horizon-10 pointer">
                                        <div class="icons feeling-activity"></div>
                                        <span class="icon-name font-size-13 text-bold"> 기분 / 활동</span>
                                    </a>
                                </li>
                                <li class="bg-mint-button border-radius-round mrg-right-5" onclick="App.writeArticle()">
                                    <a class="pdd-vertical-5 pdd-horizon-10 pointer">
                                        <div class="icons write-article"></div>
                                        <span class="icon-name font-size-13 text-bold"> 글쓰기</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="articles">
                    <div th:each="article : ${articles}" th:id="'article-' + ${article.articleResponse.id}"
                         class="card widget-feed padding-15">
                        <div class="feed-header">
                            <ul class="list-unstyled list-info">
                                <li>
                                    <img class="thumb-img img-circle"
                                         th:src="'../images/profile/' + ${article.articleResponse.userOutline.coverUrl}"
                                         th:alt="${article.articleResponse.userOutline.name}">
                                    <div class="info">
                                        <a th:href="'/users/' + ${article.articleResponse.userOutline.id}"
                                           class="title no-pdd-vertical text-semibold inline-block"
                                           th:text="${article.articleResponse.userOutline.name}"></a>
                                        <span>님이 게시물을 작성하였습니다.</span>
                                        <span th:text="${article.articleResponse.recentDate}" class="sub-title">방금 전 (임시)</span>
                                        <a class="pointer absolute top-0 right-0" data-toggle="dropdown"
                                           aria-expanded="false">
                                                <span class="btn-icon text-dark">
                                                  <i class="ti-more font-size-16"></i>
                                                </span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a th:href="|javascript:App.editArticle('${article.articleResponse.id}')|"
                                                   class="pointer">
                                                    <i class="ti-pencil pdd-right-10 text-dark"></i>
                                                    <span>게시글 수정</span>
                                                </a>
                                                <a th:href="|javascript:App.removeArticle('${article.articleResponse.id}')|"
                                                   class="pointer">
                                                    <i class="ti-trash pdd-right-10 text-dark"></i>
                                                    <span>게시글 삭제</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div th:id="'article-' + ${article.articleResponse.id} + '-content'" class="feed-body no-pdd">
                            <p>
                                <span th:text="${article.articleResponse.content}"></span>
                            </p>
                            <img th:each="attachment : ${article.articleResponse.attachments}" class="vertical-align"
                                 th:src="'/' + ${attachment.path}">
                        </div>
                        <ul class="feed-action pdd-btm-5 border bottom">
                            <li>
                                <i class="fa fa-thumbs-o-up text-info font-size-16 mrg-left-5"></i>
                                <span th:id="'count-of-like-' + ${article.articleResponse.id}"
                                      class="font-size-14 lh-2-1" th:text="${article.countOfLike}"> 0</span>
                            </li>
                            <li class="float-right mrg-right-15">
                                <span class="font-size-13">댓글 <span
                                        th:id="'count-of-comment-' + ${article.articleResponse.id}"
                                        th:text="${article.countOfComment}">0</span>개</span>
                            </li>
                        </ul>
                        <ul class="feed-action border bottom d-flex">
                            <li class="text-center flex-grow-1">
                                <button th:id="'article-like-' + ${article.articleResponse.id}"
                                        th:onclick="|javascript:App.likeArticle('${article.articleResponse.id}')|"
                                        class="btn btn-default no-border pdd-vertical-0 no-mrg width-100">
                                    <i class="fa fa-thumbs-o-up font-size-16"></i>
                                    <span class="font-size-13">좋아요</span>
                                </button>
                            </li>
                            <li class="text-center flex-grow-1">
                                <button class="btn btn-default no-border pdd-vertical-0 no-mrg width-100">
                                    <i class="fa fa-comment-o font-size-16"></i>
                                    <span class="font-size-13">댓글</span>
                                </button>
                            </li>
                        </ul>
                        <div class="feed-footer">
                            <div class="comment">
                                <ul th:id="'comments-' + ${article.articleResponse.id}" class="list-unstyled list-info">
                                    <li th:each="comment : ${article.comments}" class="comment-item">
                                        <img class="thumb-img img-circle"
                                             th:src="'/images/profile/' + ${comment.userOutline.coverUrl}"
                                             th:alt="${comment.userOutline.name}">
                                        <div class="info">
                                            <div class="bg-lightgray border-radius-18 padding-10 max-width-100">
                                                <a th:href="'/users/' + ${comment.userOutline.id}"
                                                   class="title text-bold inline-block text-link-color"
                                                   th:text="${comment.userOutline.name}">이름</a>
                                                <span th:text="${comment.content}">내용</span>
                                            </div>
                                            <div class="font-size-12 pdd-left-10 pdd-top-5">
                                                <span class="pointer text-link-color">좋아요</span>
                                                <span> · </span>
                                                <span th:text="${comment.createdDate}">날짜</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="add-comment">
                                    <textarea th:id="'new-comment-' + ${article.articleResponse.id}" rows="1"
                                              class="form-control" placeholder="댓글을 입력하세요."
                                              th:onkeydown="|javascript:App.writeComment(event, '${article.articleResponse.id}')|"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer mrg-top-65">
        <a href="https://github.com/woowahan-rescue9" title="우아한9조대">
            &copy; 2019 <img src="/images/logo/res9-logo.gif" alt="우아한9조대" width="20" height="20">
        </a>
        <div class="mrg-top-20"></div>
    </footer>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"
        integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script src="/js/templates.js"></script>
<script src="/js/app.js"></script>
</body>
</html>