<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Turkeybook</title>
    <th:block th:include="fragments/head"/>
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
	<div class="_li" id="u_0_g">
		<div id="pagelet_bluebar">
			<div class="_53jh">
				<div class="loggedout_menubar_container">
					<div class="clearfix loggedout_menubar">
						<div class="lfloat _ohe">
							<h1 class="logo_container">
								<a href="" title="Turkeybook 홈으로 이동">
									<i class="tb_logo img sp_nv0ywostZBX sx_a203a1">
										<u>Turkeybook</u>
									</i>
								</a>
							</h1>
						</div>
						<div class="menu_login_container rfloat _ohf">
							<form id="login_form">
								<table cellspacing="0" role="presentation">
									<tbody>
										<tr>
											<td class="html7magic">
												<label for="email">이메일</label>
											</td>
											<td class="html7magic">
												<label for="pass">비밀번호</label>
											</td>
										</tr>
										<tr>
											<td>
												<input type="email" maxlength="30" class="inputtext" name="email" id="email">
											</td>
											<td>
												<input type="password" class="inputtext" name="password" id="pass">
											</td>
											<td>
												<label class="uiButton uiButtonConfirm" id="loginbutton" for="u_0_2">
													<input value="로그인" aria-label="로그인" type="button" id="u_0_2" onclick="login()">
												</label>
											</td>
										</tr>
									</tbody>
								</table>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="globalContainer" class="uiContextualLayerParent">
			<div class="fb_content clearfix" id="content" role="main">
				<div>
					<div class="gradient">
						<div class="gradientContent">
							<div class="clearfix">
								<div class="lfloat _ohe">
									<div class="_5iyy">
										<div class="_5iyx">Facebook에서 전세계에 있는 친구, 가족, 지인들과 함께 이야기를 나눠보세요.
										</div>
										<img class="img" src="/images/logo/global.png" alt width="537" height="195">
									</div>
								</div>
								<div class="_5iyz rfloat _ohf">
									<div class="pvl _52lp _59d-">
										<div class="mbs _52lq fsl fwb fcb">가입하기
										</div>
										<div class="_521r fsm fwn fcg">빠르고 쉽습니다.
										</div>
									</div>
									<div id="registration_container">
										<div>
											<div class="_58mf">
												<div id="reg_box" class="registration_redesign">
													<form id="reg" name="reg">
                                                        <div class="form-group row">
                                                            <div class="col-md-10">
                                                                <input type="text" minlength="2" maxlength="10" class="form-control" id="name-form" placeholder="Name" name="name">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="col-md-10">
                                                                <input type="email" maxlength="30" class="form-control" id="email-form" placeholder="Email" name="email">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="col-md-10">
                                                                <input type="password" minlength="8" maxlength="30" class="form-control" id="password-form" placeholder="Password" name="password">
                                                            </div>
                                                        </div>
                                                        <div class="clearfix">
															<button type="button" class="_6jmvm _6wk _6wl _58mi _6o _6v" name="websubmit" id="signup_btn" onclick="signup()">
																가입하기
															</button>
														</div>
                                                    </form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<script src="/js/commons/api.js"></script>
<script src="/js/commons/app.js"></script>
<script src="/js/signup/signup.js"></script>
<script src="/js/login/login.js"></script>
</body>
</html>