<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/members">
    <div class="form-group">
        <label class="text-normal text-dark">Username</label>
        <input id="name" type="text" name="name" class="form-control" value="nick">
    </div>
    <div class="form-group">
        <label class="text-normal text-dark">Email Address</label>
        <input id="email" type="email" name="email" class="form-control" value="asd@naver.com">
    </div>
    <div class="form-group">
        <label class="text-normal text-dark">Password</label>
        <input id="password " type="password" name="password" class="form-control" placeholder="Password"
               value="Passw@rd!">
    </div>
    <div class="form-group">
        <label class="text-normal text-dark">nickName</label>
        <input id="nickName" name="nickName" class="form-control" value="nick">
    </div>
    <div class="form-group">
        <label class="text-normal text-dark">profileImage</label>
        <input id="profileImage" name="profileImage" class="form-control"
               value="https://image.shutterstock.com/image-photo/bright-spring-view-cameo-island-600w-1048185397.jpg">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info btn-block border-radius-6 font-size-16 text-white">가입하기</button>
    </div>
</form>
</body>
</html>