<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="common/head"></th:block>
    <link href="/css/user-page.css" rel="stylesheet">
</head>

<body>
<div id="wootecobook-app">
    <header th:replace="layout/headline"></header>
    <div th:replace="element/userpage/user-page-cover"></div>
    <div class="tab-info center-tabs" id="user-page-tab">
        <ul th:replace="layout/userpage/user-page-tabs"></ul>
        <div th:replace="element/userpage/user-tab-contents"></div>
    </div>
</div>
<th:block th:include="common/cdns"></th:block>
<script src="/js/fetch-api.js"></script>
<script src="/js/user-page-add.js"></script>
<script src="/js/friend-add.js"></script>
<script src="/js/comment.js"></script>
</body>

</html>